//////////////////////////
/// 1. CONFIG
//////////////////////////
$progress-bar-background-color: $color-gallery !default;
$progress-bar-color: $color-mountain-meadow !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-progress-bar__header {
  margin-bottom: 0.7rem;
}

.c-progress-bar__bar {
  position: relative;
  width: 100%;
  height: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.c-progress-bar__value {
  height: 100%;
  border-radius: 0.5rem;
}

.c-progress-bar__text {
  margin-top: 0.4rem;
}


//////////////////////////
/// 3. STATE RULES - is-className, media queries, etc
//////////////////////////
.c-progress-bar__value--0 { width: 0; }
.c-progress-bar__value--10 { width: 10%; }
.c-progress-bar__value--20 { width: 20%; }
.c-progress-bar__value--25 { width: 25%; }
.c-progress-bar__value--30 { width: 30%; }
.c-progress-bar__value--33 { width: 33%; }
.c-progress-bar__value--40 { width: 40%; }
.c-progress-bar__value--50 { width: 50%; }
.c-progress-bar__value--60 { width: 60%; }
.c-progress-bar__value--66 { width: 66%; }
.c-progress-bar__value--70 { width: 70%; }
.c-progress-bar__value--75 { width: 75%; }
.c-progress-bar__value--80 { width: 80%; }
.c-progress-bar__value--90 { width: 90%; }
.c-progress-bar__value--100 { width: 100%; }


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////
.c-progress-bar__bar {
  background-color: $progress-bar-background-color;
}

.c-progress-bar__value {
  background-color: $progress-bar-color;
}


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.c-progress-bar__header {
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.c-progress-bar__text {
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: $font-weight-semi;
  text-align: right;
}
