//////////////////////////
/// 1. CONFIG
//////////////////////////


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-site-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.c-site-search-bar__join-login,
.c-site-search-bar__join-login-button {
  height: 100%;
}

.c-site-search-bar__join-login-button {
  float: left;
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
