//////////////////////////
/// 1. CONFIG
//////////////////////////


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-site-navigation-bar {
  height: 3.8rem;
  display: flex;
  align-items: center;

  @include respond-to('sm') {
    height: 8.4rem;
  }
}

.c-site-navigation-bar__navigation {
  margin-left: auto;
}

.c-site-navigation-bar__join-login {
  margin-left: 2rem;
}

.c-site-navigation-bar__join-login-link {

  &:first-child::after {
    content: '';
    margin: 0 1.5rem;
    display: inline-block;
    width: 0.1rem;
    height: 1rem;
    border-left: 0.1rem solid;
  }
}

.c-site-navigation-bar__drawer-trigger {
  margin-left: auto;
}


//////////////////////////
/// 3. STATE RULES - is-className, media queries, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
