//////////////////////////
/// 1. CONFIG
//////////////////////////


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-site-about-bar {
  padding: 0.8rem;

  @include respond-to(md) {
    padding: 1.6rem 0.8rem;
  }

  @include respond-to(lg) {
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
