//////////////////////////
/// 1. CONFIG
//////////////////////////
$site-navigation-link-label-color: $color-mine-shaft !default;
$site-navigation-link-label-selected-color: $color-mountain-meadow !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-site-navigation__navigation-tab {
  margin-left: 1.5rem;

  @include respond-to('md') {
    margin-left: 3rem;
  }

  &:first-child {
    margin: 0;
  }
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.c-site-navigation__navigation-label {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: $font-weight-semi;
}
