//////////////////////////
/// 1. CONFIG
//////////////////////////
$site-fad-bar-text-color: $color-pure-white !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-site-fad-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////
.c-site-fad-bar__text {
  color: $site-fad-bar-text-color;
}


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
