@import '../../../scss/settings/s-color-palette';
@import '../../../scss/utilities/u-get-opacity';
@import '../../../scss/utilities/u-get-z-index';

//////////////////////////
/// 1. CONFIG
//////////////////////////
$drawer-overlay-background-color: $color-pure-black !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-drawer__overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: z(overlay);
}

//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////
.c-drawer__overlay {
  background-color: rgba($drawer-overlay-background-color, opacity(overlay));
}


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
