@import '../../../scss/settings/s-color-palette';
@import '../../../scss/utilities/u-respond-to-breakpoint';
@import '../../../scss/preferred-typography-variables';

//////////////////////////
/// 1. CONFIG
//////////////////////////
$drawer-item-selected-border-color: $color-mountain-meadow !default;
$drawer-item-background-color: $color-gallery !default;
$drawer-label-border-color: $color-alto !default;
$drawer-label-expanded-icon-color: $color-san-juan !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-drawer {
  width: 200px;
  height: 600px;
  background-color: white;
  border: 2px solid;
  top: 38px;
  right: -200px;
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
