//////////////////////////
/// 1. CONFIG
//////////////////////////


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.m-assessment__detailed-recommendation-toc-link {
  display: block;
  margin-top: 1rem;

  &:first-child {
    margin-top: 0;
  }
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.m-assessment__detailed-recommendation-toc-link {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: normal !important;
}
