@import '../../../scss/settings/s-color-palette';

//////////////////////////
/// 1. CONFIG
//////////////////////////
$recommendation-toc-links-border-color: $color-gallery !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.m-assessment__recommendation-toc {}

.m-assessment__recommendation-toc-content {
  padding-left: 1.6rem;
  border-left: 0.2rem solid;
}

.m-assessment__recommendation-toc-link {
  display: block;
  margin-top: 1rem;

  &:first-child {
    margin-top: 0;
  }
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////
.m-assessment__recommendation-toc-content {
  border-color: $recommendation-toc-links-border-color;
}


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.m-assessment__recommendation-toc-header {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 600;
}

.m-assessment__recommendation-toc-link {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: normal !important;
}
