.c-drawer__pane {
  position: fixed;
  transition: right 0.5s;
  overflow: hidden;
  z-index: 5000;
  width: calc(100% - 5rem);
  right: calc(-1 * (100% - 5rem)); }

.c-drawer__pane {
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);
  background-color: #fff; }
