@font-face {
  font-family: 'sharecare-font-icon';
  src:
    url('fonts/sharecare-font-icon.ttf?jidarr') format('truetype'),
    url('fonts/sharecare-font-icon.woff?jidarr') format('woff'),
    url('fonts/sharecare-font-icon.svg?jidarr#sharecare-font-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sharecare-font-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-icon--banner:before {
  content: "\e900";
}
.font-icon--calendar-clock:before {
  content: "\e901";
}
.font-icon--camera:before {
  content: "\e902";
}
.font-icon--camera-open:before {
  content: "\e903";
}
.font-icon--caret-circled-down:before {
  content: "\e938";
}
.font-icon--caret-circled-up:before {
  content: "\e939";
}
.font-icon--caret-circled-right:before {
  content: "\e93a";
}
.font-icon--caret-circled-left:before {
  content: "\e904";
}
.font-icon--caret-circled-open-down:before {
  content: "\e93b";
}
.font-icon--caret-circled-open-up:before {
  content: "\e93c";
}
.font-icon--caret-circled-open-right:before {
  content: "\e93d";
}
.font-icon--caret-circled-open-left:before {
  content: "\e905";
}
.font-icon--caret-down:before {
  content: "\e906";
}
.font-icon--caret-up:before {
  content: "\e93e";
}
.font-icon--caret-right:before {
  content: "\e93f";
}
.font-icon--caret-left:before {
  content: "\e940";
}
.font-icon--check:before {
  content: "\e907";
}
.font-icon--check-circle:before {
  content: "\e908";
}
.font-icon--clock:before {
  content: "\e909";
}
.font-icon--close:before {
  content: "\e90a";
}
.font-icon--comment:before {
  content: "\e90b";
}
.font-icon--compass:before {
  content: "\e90c";
}
.font-icon--conversation:before {
  content: "\e90d";
}
.font-icon--conversation-open:before {
  content: "\e90e";
}
.font-icon--diet:before {
  content: "\e90f";
}
.font-icon--document:before {
  content: "\e910";
}
.font-icon--error:before {
  content: "\e911";
}
.font-icon--error-open:before {
  content: "\e912";
}
.font-icon--error-triangle-open:before {
  content: "\e913";
}
.font-icon--facebook:before {
  content: "\e914";
}
.font-icon--feelings:before {
  content: "\e915";
}
.font-icon--fitness:before {
  content: "\e916";
}
.font-icon--gender:before {
  content: "\e917";
}
.font-icon--google:before {
  content: "\e918";
}
.font-icon--hamburger:before {
  content: "\e919";
}
.font-icon--heart-pulse:before {
  content: "\e91a";
}
.font-icon--info:before {
  content: "\e91b";
}
.font-icon--info-open:before {
  content: "\e91c";
}
.font-icon--instagram:before {
  content: "\e91d";
}
.font-icon--insurance:before {
  content: "\e91e";
}
.font-icon--languages:before {
  content: "\e91f";
}
.font-icon--like-heart:before {
  content: "\e920";
}
.font-icon--like-heart-open:before {
  content: "\e921";
}
.font-icon--linkedin:before {
  content: "\e922";
}
.font-icon--location:before {
  content: "\e923";
}
.font-icon--location-open:before {
  content: "\e924";
}
.font-icon--lock:before {
  content: "\e925";
}
.font-icon--notifications:before {
  content: "\e926";
}
.font-icon--notifications-open:before {
  content: "\e927";
}
.font-icon--pinterest:before {
  content: "\e928";
}
.font-icon--play:before {
  content: "\e929";
}
.font-icon--plus-circle:before {
  content: "\e92a";
}
.font-icon--qa-answer:before {
  content: "\e92b";
}
.font-icon--qa-question:before {
  content: "\e92c";
}
.font-icon--realage:before {
  content: "\e92d";
}
.font-icon--search:before {
  content: "\e92e";
}
.font-icon--share:before {
  content: "\e92f";
}
.font-icon--sharecare:before {
  content: "\e930";
}
.font-icon--star:before {
  content: "\e931";
}
.font-icon--star-open:before {
  content: "\e932";
}
.font-icon--tag:before {
  content: "\e933";
}
.font-icon--tag-open:before {
  content: "\e934";
}
.font-icon--twitter:before {
  content: "\e935";
}
.font-icon--user:before {
  content: "\e936";
}
.font-icon--website:before {
  content: "\e937";
}

