//////////////////////////
/// 1. CONFIG
//////////////////////////


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
// Use input checkbox/radio checked states for toggle effect
.c-drawer__target {
  // Hide input control
  display: none;

  // Expanded state
  &:checked {

    // Display adjacent content in expanded state
    ~ .c-drawer__pane {
      right: 0;
    }

    ~ .c-drawer__overlay {
      display: block;
    }
  }
}

//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
