{{!-- fractal/components/buttons/usages/xlarge-button-usages.hbs --}}
<h3>Text Buttons</h3>
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Default"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Accent"
        buttonModifier="accent"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Secure"
        buttonModifier="secure"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="CTA"
        buttonModifier="cta"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Inactive"
        buttonModifier="inactive"}}

<h3>Link Buttons</h3>
{{> @button
        buttonClasses="c-button--xlarge"
        linkTo="http://www.sharecare.com"
        buttonLabel="Link"}}
{{> @button
        buttonClasses="c-button--xlarge"
        linkTo="http://www.sharecare.com"
        buttonLabel="Accent"
        buttonModifier="accent"}}
{{> @button
        buttonClasses="c-button--xlarge"
        linkTo="http://www.sharecare.com"
        buttonLabel="Secure"
        buttonModifier="secure"}}
{{> @button
        buttonClasses="c-button--xlarge"
        linkTo="http://www.sharecare.com"
        buttonLabel="CTA"
        buttonModifier="cta"}}
{{> @button
        buttonClasses="c-button--xlarge"
        linkTo="http://www.sharecare.com"
        buttonLabel="Inactive"
        buttonModifier="inactive"}}

<h3>Left Icon Buttons</h3>
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Default"
        buttonLeftIcon="banner"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Accent"
        buttonLeftIcon="banner"
        buttonModifier="accent"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Secure"
        buttonLeftIcon="banner"
        buttonModifier="secure"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="CTA"
        buttonLeftIcon="banner"
        buttonModifier="cta"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Inactive"
        buttonLeftIcon="banner"
        buttonModifier="inactive"}}

<h3>Right Icon Buttons</h3>
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Default"
        buttonRightIcon="banner"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Accent"
        buttonRightIcon="banner"
        buttonModifier="accent"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Secure"
        buttonRightIcon="banner"
        buttonModifier="secure"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="CTA"
        buttonRightIcon="banner"
        buttonModifier="cta"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Inactive"
        buttonRightIcon="banner"
        buttonModifier="inactive"}}

<h3>Icon Only Buttons</h3>
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLeftIcon="banner"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLeftIcon="banner"
        buttonModifier="accent"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLeftIcon="banner"
        buttonModifier="secure"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLeftIcon="banner"
        buttonModifier="cta"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLeftIcon="banner"
        buttonModifier="inactive"}}

<h3>Badge Buttons</h3>
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Default"
        buttonBadgeLabel="99"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Primary"
        buttonBadgeLabel="99"
        buttonBadgeModifier="primary"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Accent"
        buttonBadgeLabel="99"
        buttonBadgeModifier="accent"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Warning"
        buttonBadgeLabel="99"
        buttonBadgeModifier="warning"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="Alert"
        buttonBadgeLabel="99"
        buttonBadgeModifier="alert"}}

<h3>Badge Icon Buttons</h3>
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLeftIcon="banner"
        buttonBadgeLabel="99"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLeftIcon="banner"
        buttonBadgeLabel="99"
        buttonBadgeModifier="primary"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLeftIcon="banner"
        buttonBadgeLabel="99"
        buttonBadgeModifier="accent"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLeftIcon="banner"
        buttonBadgeLabel="99"
        buttonBadgeModifier="warning"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLeftIcon="banner"
        buttonBadgeLabel="99"
        buttonBadgeModifier="alert"}}

<h3>Long String Buttons</h3>
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="This button has a very long text string"}}
{{> @button
        buttonClasses="c-button--xlarge"
        linkTo="http://www.sharecare.com"
        buttonLabel="This button has a very long text string"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="This link button has a very long text string"
        buttonLeftIcon="banner"}}
{{> @button
        buttonClasses="c-button--xlarge"
        buttonLabel="This link button has a very long text string"
        buttonRightIcon="banner"}}