{{!-- fractal/components/grid--reverse.hbs --}}
<section class="l-grid-wrapper l-grid-container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-container">
                <div class="row reverse">
                    <div class="col-xs-2">
                        <div class="box-nested">1</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="box-nested">2</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="box-nested">3</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="box-nested">4</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="box-nested">5</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="box-nested">6</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>