@import '../../../scss/settings/s-spacing-units';

//////////////////////////
/// 1. CONFIG
//////////////////////////


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-breadcrumb {
  display: inline-flex;
  align-items: center;
}

.c-breadcrumb__icon {
  flex-shrink: 0;
}

.c-breadcrumb__link {
  display: inline-block;
  margin-left: $spacing-unit;
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.c-breadcrumb__link {
  font-size: 1.4rem;
  line-height: 1.7rem;
}
