@import '../settings/s-break-points';
@import '../utilities/u-breakpoint-down';
@import '../utilities/u-breakpoint-up';
@import '../utilities/u-breakpoint-infix';
@import '../utilities/u-breakpoint-only';

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    $infix: if($infix == '', -xs, #{$infix}-down);
    .l-hidden#{$infix},
    .l-visible#{$infix}-none,
    .l-visible#{$infix}-inline,
    .l-visible#{$infix}-inline-block,
    .l-visible#{$infix}-block,
    .l-visible#{$infix}-table,
    .l-visible#{$infix}-table-cell,
    .l-visible#{$infix}-flex,
    .l-visible#{$infix}-inline-flex  { display: none !important; }

    .l-visible#{$infix}-inline       { display: inline !important; }
    .l-visible#{$infix}-inline-block { display: inline-block !important; }
    .l-visible#{$infix}-block        { display: block !important; }
    .l-visible#{$infix}-table        { display: table !important; }
    .l-visible#{$infix}-table-cell   { display: table-cell !important; }
    .l-visible#{$infix}-flex         { display: flex !important; }
    .l-visible#{$infix}-inline-flex  { display: inline-flex !important; }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-only($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .l-hidden#{$infix},
    .l-visible#{$infix}-none,
    .l-visible#{$infix}-inline,
    .l-visible#{$infix}-inline-block,
    .l-visible#{$infix}-block,
    .l-visible#{$infix}-table,
    .l-visible#{$infix}-table-cell,
    .l-visible#{$infix}-flex,
    .l-visible#{$infix}-inline-flex  { display: none !important; }

    .l-visible#{$infix}-inline       { display: inline !important; }
    .l-visible#{$infix}-inline-block { display: inline-block !important; }
    .l-visible#{$infix}-block        { display: block !important; }
    .l-visible#{$infix}-table        { display: table !important; }
    .l-visible#{$infix}-table-cell   { display: table-cell !important; }
    .l-visible#{$infix}-flex         { display: flex !important; }
    .l-visible#{$infix}-inline-flex  { display: inline-flex !important; }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @if($infix != '') {
      $infix: #{$infix}-up;
      .l-hidden#{$infix},
      .l-visible#{$infix}-none,
      .l-visible#{$infix}-inline,
      .l-visible#{$infix}-inline-block,
      .l-visible#{$infix}-block,
      .l-visible#{$infix}-table,
      .l-visible#{$infix}-table-cell,
      .l-visible#{$infix}-flex,
      .l-visible#{$infix}-inline-flex  { display: none !important; }

      .l-visible#{$infix}-inline       { display: inline !important; }
      .l-visible#{$infix}-inline-block { display: inline-block !important; }
      .l-visible#{$infix}-block        { display: block !important; }
      .l-visible#{$infix}-table        { display: table !important; }
      .l-visible#{$infix}-table-cell   { display: table-cell !important; }
      .l-visible#{$infix}-flex         { display: flex !important; }
      .l-visible#{$infix}-inline-flex  { display: inline-flex !important; }
    }
  }
}
