@import '../../../scss/settings/s-color-palette';

//////////////////////////
/// 1. CONFIG
//////////////////////////
$link-text-color: $color-curious-blue !default;
$link-text-hover-color: $color-san-juan !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-link {
  cursor: pointer;
}


//////////////////////////
/// 3. STATE RULES - is-className, media queries, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////
.c-link__label {
  color: $link-text-color;

  &:hover {
    color: $link-text-hover-color;
  }
}


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.c-link__label {
  line-height: 1.9rem;
}
