.c-link {
  cursor: pointer; }

a:not([class~="c-link"]),
.c-link__label {
  color: #2c9acc; }
  a:not([class~="c-link"]):hover,
  .c-link__label:hover {
    color: #345779; }

.c-link__label {
  line-height: 1.9rem; }
