{{!-- fractal/components/site-logos-bar.hbs --}}
<div class="c-site-logos-bar

    {{~#if siteLogosBarModifier}} c-site-logos-bar--{{siteLogosBarModifier}}{{/if}}{{#each siteLogosBarContext.modifiers}} c-site-logos-bar--{{this}}{{/each~}}

    {{~#if siteLogosBarClasses}} {{siteLogosBarClasses}}{{/if}}{{#each siteLogosBarContext.classes}} {{this}}{{/each}}">

    {{~> @site-logos
            siteLogosClasses="c-site-logos-bar__site-logos"~}}
        
    {{~> @social-icons
            socialIconsClasses="c-site-logos-bar__social-links hidden-lg-up"~}}
</div>