{{!-- fractal/components/navigation-usages.hbs --}}
<h3>Primary Navigation</h3>
{{#> @navigation-bar navBarModifier="primary"}}
    {{> @navigation-tab navTabText="Lorem ipsum"}}
    {{> @navigation-tab navTabText="Lorem ipsum" navTabModifier="selected"}}
    {{> @navigation-tab navTabText="Lorem ipsum"}}
    {{> @navigation-tab navTabText="Lorem ipsum"}}
    {{> @navigation-tab navTabText="Lorem ipsum"}}
{{/@navigation-bar}}

<h3>Secondary Navigation</h3>
{{#> @navigation-bar navBarModifier="secondary"}}
    {{> @navigation-tab navTabText="Lorem ipsum"}}
    {{> @navigation-tab navTabText="Lorem ipsum" navTabModifier="selected"}}
    {{> @navigation-tab navTabText="Lorem ipsum"}}
    {{> @navigation-tab navTabText="Lorem ipsum"}}
    {{> @navigation-tab navTabText="Lorem ipsum"}}
{{/@navigation-bar}}