@font-face {
  font-family: 'Proxima Nova';
  src: url("http://localhost:3050/static/fonts/proximanova-light-webfont.eot");
  src: url("http://localhost:3050/static/fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("http://localhost:3050/static/fonts/proximanova-light-webfont.woff") format("woff"), url("http://localhost:3050/static/fonts/proximanova-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("http://localhost:3050/static/fonts/proximanova-regular-webfont.eot");
  src: url("http://localhost:3050/static/fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://localhost:3050/static/fonts/proximanova-regular-webfont.woff") format("woff"), url("http://localhost:3050/static/fonts/proximanova-regular-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("http://localhost:3050/static/fonts/ProximaNovaSoft-Semibold-webfont.eot");
  src: url("http://localhost:3050/static/fonts/ProximaNovaSoft-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("http://localhost:3050/static/fonts/ProximaNovaSoft-Semibold-webfont.woff") format("woff"), url("http://localhost:3050/static/fonts/ProximaNovaSoft-Semibold-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'sharecare-font-icon';
  src: url("http://localhost:3050/static/fonts/sharecare-font-icon.ttf") format("truetype"), url("http://localhost:3050/static/fonts/sharecare-font-icon.woff") format("woff"), url("http://localhost:3050/static/fonts/sharecare-font-icon.svg?#sharecare-font-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

a,
address,
article,
aside,
caption,
code,
dd,
div,
dl,
dt,
fieldset,
figure,
figcaption,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
iframe,
img,
label,
legend,
li,
nav,
object,
ol,
p,
section,
span,
strong,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active,
a:hover {
  outline-width: 0; }

code {
  font-family: monospace, monospace;
  font-size: 1em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: Proxima Nova, Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.8rem;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

input[type="search"]::-webkit-search-cancel-button {
  margin-right: 0.8rem; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }

table {
  border-collapse: collapse; }

textarea {
  overflow: auto; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -0.2rem; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

.l-grid-wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.l-fluid-grid-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1.2rem;
  margin-left: -1.2rem; }

.row.reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.col-xs {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  -ms-flex-preferred-size: auto;
  flex-basis: auto; }

.col-xs-1 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.col-xs-2 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.col-xs-3 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.col-xs-5 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.col-xs-6 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.col-xs-8 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  -ms-flex-preferred-size: 66.66667%;
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.col-xs-9 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.col-xs-11 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  -ms-flex-preferred-size: 91.66667%;
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.col-xs-12 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-0 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: 0; }

.col-xs-offset-1 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: 25%; }

.col-xs-offset-4 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: 50%; }

.col-xs-offset-7 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: 75%; }

.col-xs-offset-10 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: 100%; }

.col-xs {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.left-xs {
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.right-xs {
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -ms-flex-align: start;
  align-items: flex-start; }

.middle-xs {
  -ms-flex-align: center;
  align-items: center; }

.bottom-xs {
  -ms-flex-align: end;
  align-items: flex-end; }

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between-xs {
  -ms-flex-pack: justify;
  justify-content: space-between; }

.first-xs {
  -ms-flex-order: -1;
  order: -1; }

.last-xs {
  -ms-flex-order: 1;
  order: 1; }

@media only screen and (min-width: 576px) {
  .l-grid-container {
    width: 546px; }
  .col-sm {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .col-sm-1 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-0 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 0; }
  .col-sm-offset-1 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 25%; }
  .col-sm-offset-4 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 50%; }
  .col-sm-offset-7 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 75%; }
  .col-sm-offset-10 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 100%; }
  .col-sm {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .left-sm {
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .right-sm {
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-sm {
    -ms-flex-align: center;
    align-items: center; }
  .bottom-sm {
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-sm {
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-sm {
    -ms-flex-order: -1;
    order: -1; }
  .last-sm {
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 768px) {
  .l-grid-container {
    width: 738px; }
  .col-md {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .col-md-1 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-0 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 0; }
  .col-md-offset-1 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 25%; }
  .col-md-offset-4 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 50%; }
  .col-md-offset-7 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 75%; }
  .col-md-offset-10 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 100%; }
  .col-md {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .left-md {
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .right-md {
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-md {
    -ms-flex-align: center;
    align-items: center; }
  .bottom-md {
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-md {
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-md {
    -ms-flex-order: -1;
    order: -1; }
  .last-md {
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 992px) {
  .l-grid-container {
    width: 962px; }
  .col-lg {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .col-lg-1 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-0 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 0; }
  .col-lg-offset-1 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 25%; }
  .col-lg-offset-4 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 50%; }
  .col-lg-offset-7 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 75%; }
  .col-lg-offset-10 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 100%; }
  .col-lg {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .left-lg {
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .right-lg {
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-lg {
    -ms-flex-align: center;
    align-items: center; }
  .bottom-lg {
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-lg {
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-lg {
    -ms-flex-order: -1;
    order: -1; }
  .last-lg {
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 1200px) {
  .l-grid-container {
    width: 1170px; }
  .col-xl {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .col-xl-1 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-xl-4 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-xl-7 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-xl-10 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-xl-offset-0 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 0; }
  .col-xl-offset-1 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 8.33333%; }
  .col-xl-offset-2 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 16.66667%; }
  .col-xl-offset-3 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 25%; }
  .col-xl-offset-4 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 33.33333%; }
  .col-xl-offset-5 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 41.66667%; }
  .col-xl-offset-6 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 50%; }
  .col-xl-offset-7 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 58.33333%; }
  .col-xl-offset-8 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 66.66667%; }
  .col-xl-offset-9 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 75%; }
  .col-xl-offset-10 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 83.33333%; }
  .col-xl-offset-11 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 91.66667%; }
  .col-xl-offset-12 {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-left: 100%; }
  .col-xl {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .left-xl {
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-xl {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .right-xl {
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-xl {
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-xl {
    -ms-flex-align: center;
    align-items: center; }
  .bottom-xl {
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-xl {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-xl {
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-xl {
    -ms-flex-order: -1;
    order: -1; }
  .last-xl {
    -ms-flex-order: 1;
    order: 1; } }

@media (max-width: 575px) {
  .l-hidden-xs,
  .l-visible-xs-none,
  .l-visible-xs-inline,
  .l-visible-xs-inline-block,
  .l-visible-xs-block,
  .l-visible-xs-table,
  .l-visible-xs-table-cell,
  .l-visible-xs-flex,
  .l-visible-xs-inline-flex {
    display: none !important; }
  .l-visible-xs-inline {
    display: inline !important; }
  .l-visible-xs-inline-block {
    display: inline-block !important; }
  .l-visible-xs-block {
    display: block !important; }
  .l-visible-xs-table {
    display: table !important; }
  .l-visible-xs-table-cell {
    display: table-cell !important; }
  .l-visible-xs-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .l-visible-xs-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (max-width: 767px) {
  .l-hidden-sm-down,
  .l-visible-sm-down-none,
  .l-visible-sm-down-inline,
  .l-visible-sm-down-inline-block,
  .l-visible-sm-down-block,
  .l-visible-sm-down-table,
  .l-visible-sm-down-table-cell,
  .l-visible-sm-down-flex,
  .l-visible-sm-down-inline-flex {
    display: none !important; }
  .l-visible-sm-down-inline {
    display: inline !important; }
  .l-visible-sm-down-inline-block {
    display: inline-block !important; }
  .l-visible-sm-down-block {
    display: block !important; }
  .l-visible-sm-down-table {
    display: table !important; }
  .l-visible-sm-down-table-cell {
    display: table-cell !important; }
  .l-visible-sm-down-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .l-visible-sm-down-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (max-width: 991px) {
  .l-hidden-md-down,
  .l-visible-md-down-none,
  .l-visible-md-down-inline,
  .l-visible-md-down-inline-block,
  .l-visible-md-down-block,
  .l-visible-md-down-table,
  .l-visible-md-down-table-cell,
  .l-visible-md-down-flex,
  .l-visible-md-down-inline-flex {
    display: none !important; }
  .l-visible-md-down-inline {
    display: inline !important; }
  .l-visible-md-down-inline-block {
    display: inline-block !important; }
  .l-visible-md-down-block {
    display: block !important; }
  .l-visible-md-down-table {
    display: table !important; }
  .l-visible-md-down-table-cell {
    display: table-cell !important; }
  .l-visible-md-down-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .l-visible-md-down-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (max-width: 1199px) {
  .l-hidden-lg-down,
  .l-visible-lg-down-none,
  .l-visible-lg-down-inline,
  .l-visible-lg-down-inline-block,
  .l-visible-lg-down-block,
  .l-visible-lg-down-table,
  .l-visible-lg-down-table-cell,
  .l-visible-lg-down-flex,
  .l-visible-lg-down-inline-flex {
    display: none !important; }
  .l-visible-lg-down-inline {
    display: inline !important; }
  .l-visible-lg-down-inline-block {
    display: inline-block !important; }
  .l-visible-lg-down-block {
    display: block !important; }
  .l-visible-lg-down-table {
    display: table !important; }
  .l-visible-lg-down-table-cell {
    display: table-cell !important; }
  .l-visible-lg-down-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .l-visible-lg-down-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (max-width: 575px) {
  .l-hidden,
  .l-visible-none,
  .l-visible-inline,
  .l-visible-inline-block,
  .l-visible-block,
  .l-visible-table,
  .l-visible-table-cell,
  .l-visible-flex,
  .l-visible-inline-flex {
    display: none !important; }
  .l-visible-inline {
    display: inline !important; }
  .l-visible-inline-block {
    display: inline-block !important; }
  .l-visible-block {
    display: block !important; }
  .l-visible-table {
    display: table !important; }
  .l-visible-table-cell {
    display: table-cell !important; }
  .l-visible-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .l-visible-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (min-width: 576px) and (max-width: 767px) {
  .l-hidden-sm,
  .l-visible-sm-none,
  .l-visible-sm-inline,
  .l-visible-sm-inline-block,
  .l-visible-sm-block,
  .l-visible-sm-table,
  .l-visible-sm-table-cell,
  .l-visible-sm-flex,
  .l-visible-sm-inline-flex {
    display: none !important; }
  .l-visible-sm-inline {
    display: inline !important; }
  .l-visible-sm-inline-block {
    display: inline-block !important; }
  .l-visible-sm-block {
    display: block !important; }
  .l-visible-sm-table {
    display: table !important; }
  .l-visible-sm-table-cell {
    display: table-cell !important; }
  .l-visible-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .l-visible-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .l-hidden-md,
  .l-visible-md-none,
  .l-visible-md-inline,
  .l-visible-md-inline-block,
  .l-visible-md-block,
  .l-visible-md-table,
  .l-visible-md-table-cell,
  .l-visible-md-flex,
  .l-visible-md-inline-flex {
    display: none !important; }
  .l-visible-md-inline {
    display: inline !important; }
  .l-visible-md-inline-block {
    display: inline-block !important; }
  .l-visible-md-block {
    display: block !important; }
  .l-visible-md-table {
    display: table !important; }
  .l-visible-md-table-cell {
    display: table-cell !important; }
  .l-visible-md-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .l-visible-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .l-hidden-lg,
  .l-visible-lg-none,
  .l-visible-lg-inline,
  .l-visible-lg-inline-block,
  .l-visible-lg-block,
  .l-visible-lg-table,
  .l-visible-lg-table-cell,
  .l-visible-lg-flex,
  .l-visible-lg-inline-flex {
    display: none !important; }
  .l-visible-lg-inline {
    display: inline !important; }
  .l-visible-lg-inline-block {
    display: inline-block !important; }
  .l-visible-lg-block {
    display: block !important; }
  .l-visible-lg-table {
    display: table !important; }
  .l-visible-lg-table-cell {
    display: table-cell !important; }
  .l-visible-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .l-visible-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (min-width: 1200px) {
  .l-hidden-xl,
  .l-visible-xl-none,
  .l-visible-xl-inline,
  .l-visible-xl-inline-block,
  .l-visible-xl-block,
  .l-visible-xl-table,
  .l-visible-xl-table-cell,
  .l-visible-xl-flex,
  .l-visible-xl-inline-flex {
    display: none !important; }
  .l-visible-xl-inline {
    display: inline !important; }
  .l-visible-xl-inline-block {
    display: inline-block !important; }
  .l-visible-xl-block {
    display: block !important; }
  .l-visible-xl-table {
    display: table !important; }
  .l-visible-xl-table-cell {
    display: table-cell !important; }
  .l-visible-xl-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .l-visible-xl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (min-width: 576px) {
  .l-hidden-sm-up,
  .l-visible-sm-up-none,
  .l-visible-sm-up-inline,
  .l-visible-sm-up-inline-block,
  .l-visible-sm-up-block,
  .l-visible-sm-up-table,
  .l-visible-sm-up-table-cell,
  .l-visible-sm-up-flex,
  .l-visible-sm-up-inline-flex {
    display: none !important; }
  .l-visible-sm-up-inline {
    display: inline !important; }
  .l-visible-sm-up-inline-block {
    display: inline-block !important; }
  .l-visible-sm-up-block {
    display: block !important; }
  .l-visible-sm-up-table {
    display: table !important; }
  .l-visible-sm-up-table-cell {
    display: table-cell !important; }
  .l-visible-sm-up-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .l-visible-sm-up-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (min-width: 768px) {
  .l-hidden-md-up,
  .l-visible-md-up-none,
  .l-visible-md-up-inline,
  .l-visible-md-up-inline-block,
  .l-visible-md-up-block,
  .l-visible-md-up-table,
  .l-visible-md-up-table-cell,
  .l-visible-md-up-flex,
  .l-visible-md-up-inline-flex {
    display: none !important; }
  .l-visible-md-up-inline {
    display: inline !important; }
  .l-visible-md-up-inline-block {
    display: inline-block !important; }
  .l-visible-md-up-block {
    display: block !important; }
  .l-visible-md-up-table {
    display: table !important; }
  .l-visible-md-up-table-cell {
    display: table-cell !important; }
  .l-visible-md-up-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .l-visible-md-up-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (min-width: 992px) {
  .l-hidden-lg-up,
  .l-visible-lg-up-none,
  .l-visible-lg-up-inline,
  .l-visible-lg-up-inline-block,
  .l-visible-lg-up-block,
  .l-visible-lg-up-table,
  .l-visible-lg-up-table-cell,
  .l-visible-lg-up-flex,
  .l-visible-lg-up-inline-flex {
    display: none !important; }
  .l-visible-lg-up-inline {
    display: inline !important; }
  .l-visible-lg-up-inline-block {
    display: inline-block !important; }
  .l-visible-lg-up-block {
    display: block !important; }
  .l-visible-lg-up-table {
    display: table !important; }
  .l-visible-lg-up-table-cell {
    display: table-cell !important; }
  .l-visible-lg-up-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .l-visible-lg-up-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (min-width: 1200px) {
  .l-hidden-xl-up,
  .l-visible-xl-up-none,
  .l-visible-xl-up-inline,
  .l-visible-xl-up-inline-block,
  .l-visible-xl-up-block,
  .l-visible-xl-up-table,
  .l-visible-xl-up-table-cell,
  .l-visible-xl-up-flex,
  .l-visible-xl-up-inline-flex {
    display: none !important; }
  .l-visible-xl-up-inline {
    display: inline !important; }
  .l-visible-xl-up-inline-block {
    display: inline-block !important; }
  .l-visible-xl-up-block {
    display: block !important; }
  .l-visible-xl-up-table {
    display: table !important; }
  .l-visible-xl-up-table-cell {
    display: table-cell !important; }
  .l-visible-xl-up-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .l-visible-xl-up-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }
