@import '../../../scss/settings/s-color-palette';
@import '../../../scss/settings/s-base-variables';
@import '../../../scss/utilities/u-respond-to-breakpoint';
@import '../../../scss/typography/ty-proxima-nova-variables';

//////////////////////////
/// 1. CONFIG
//////////////////////////
$text-label-default-color: $base-font-color !default;
$text-label-disabled-color: $color-alto !default;
$text-label-error-color: $color-chestnut-rose !default;

$text-required-color: $color-chestnut-rose !default;
$text-error-color: $color-chestnut-rose !default;

$text-input-text-color: $color-dove-gray !default;
$text-input-placeholder-color: $color-chatelle !default;
$text-input-border-color: $color-alto !default;
$text-input-background-color: $color-pure-white !default;

$text-input-disabled-background-color: $color-gallery !default;

$text-input-error-text-color: $color-chestnut-rose !default;
$text-input-error-placeholder-color: $color-chestnut-rose !default;
$text-input-error-border-color: $color-chestnut-rose !default;

$text-input-focus-border-color: $color-mountain-meadow !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-text {
  display: flex;
  flex-direction: column;
}

.c-text__label {
  cursor: pointer;

  // Give some spacing below input labels
  margin-bottom: ($base-unit-size / 2);
}

.c-text__input {

  // Default to full width input text/selects
  width: 100%;

  // Default input heights
  height: 4rem;
  border: 0.1rem solid;
  cursor: pointer;
  padding: 0.1rem 0 0 ($base-unit-size);
  border-radius: 0.2rem;

  @include respond-to(sm) {
    height: 3rem;
  }

  &:focus {
    outline: 0;
  }
}

.c-text__error {

  // Give some spacing above error labels
  margin-top: ($base-unit-size / 2);
}


//////////////////////////
/// 3. STATE RULES - is-className, media queries, etc
//////////////////////////
.c-text {

  &.is-inline {

    @include respond-to(sm) {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 50%;
    }
  }
}

.c-text__label {

  &.is-disabled {
    cursor: default;
  }

  &.is-inline {

    @include respond-to(sm) {
      flex-shrink: 0;
      margin: 0 0.8rem 0 0;
    }
  }
}

.c-text__input {

  &.is-disabled {
    cursor: default;
  }

  &.is-inline {

    @include respond-to(sm) {
      width: 20rem;
    }
  }
}

.c-text__error {

  &.is-inline {

    @include respond-to(sm) {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////
.c-text__label {
  color: $text-label-default-color;

  &.is-disabled {
    color: $text-label-disabled-color;
  }

  &.is-error {
    color: $text-label-error-color;
  }
}

.c-text__input {
  border-color: $text-input-border-color;
  color: $text-input-text-color;
  background-color: $text-input-background-color;

  &:focus {
    border-color: $text-input-focus-border-color;
  }

  &.is-disabled {
    background-color: $text-input-disabled-background-color;
  }

  // Error state colors
  &.is-error {
    border-color: $text-input-error-border-color;
    color: $text-input-error-text-color;
  }
}

.c-text__required {
  color: $text-required-color;
}

.c-text__error {
  color: $text-error-color;
}

:-moz-placeholder { color: $text-input-placeholder-color; }
::-moz-placeholder { color: $text-input-placeholder-color; }
:-ms-input-placeholder { color: $text-input-placeholder-color; }
::-webkit-input-placeholder { color: $text-input-placeholder-color; }


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.c-text__label {
  font-size: 1.5rem;
  line-height: 1.7rem;

  @include respond-to(sm) {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

.c-text__input {
  font-size: 1.8rem;
  line-height: 2rem;

  @include respond-to(sm) {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

.c-text__error {
  font-size: 1.5rem;
  line-height: 1.7rem;

  @include respond-to(sm) {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
