.c-radio__button {
  width: 1.8rem;
  height: 1.8rem;
  border: 0.1rem solid;
  border-radius: 50%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.c-radio__button.is-disabled {
  cursor: default; }

.c-radio__button {
  background-color: #fff;
  border-color: #ddd; }
  .c-radio__button.is-checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Ccircle cx='4' cy='4' r='2' fill='%231aba9c'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff; }
  .c-radio__button.is-disabled {
    background-color: #eee; }
  .c-radio__button.is-error {
    border-color: #d15050; }

.c-radio {
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem; }
  .c-radio:first-child {
    margin-top: 0; }

.c-radio__input {
  display: none; }

.c-radio__label {
  margin-left: 0.8rem;
  cursor: pointer; }

.c-radio__label.is-disabled {
  cursor: default; }

.c-radio__label.is-disabled {
  color: #ddd; }

.c-radio__label.is-error {
  color: #d15050; }

.c-radio__label {
  font-size: 1.8rem;
  line-height: 2rem; }
  @media only screen and (min-width: 576px) {
    .c-radio__label {
      font-size: 1.6rem;
      line-height: 1.8rem; } }
