@import '../../../scss/settings/s-color-palette';
@import '../../../scss/utilities/u-respond-to-breakpoint';

//////////////////////////
/// 1. CONFIG
//////////////////////////
$radio-label-disabled-color: $color-alto !default;
$radio-label-error-color: $color-chestnut-rose !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-radio {
  display: flex;
  margin-top: 1rem;

  &:first-child {
    margin-top: 0;
  }
}

.c-radio__input {
  display: none;
}

.c-radio__label {
  margin-left: 0.8rem;
  cursor: pointer;
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////
.c-radio__label {

  &.is-disabled {
    cursor: default;
  }
}


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////
.c-radio__label {

  &.is-disabled {
    color: $radio-label-disabled-color;
  }

  &.is-error {
    color: $radio-label-error-color;
  }
}


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.c-radio__label {
  font-size: 1.8rem;
  line-height: 2rem;

  @include respond-to(sm) {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}
