{{!-- fractal/components/avatar-usages.hbs --}}
<h3>Image Avatars: Default / Medium / Large</h3>
{{>@avatar
        avatarImage="https://placeimg.com/80/80/animals"}}
{{>@avatar
        avatarImage="https://placeimg.com/80/80/animals"
        avatarModifier="medium"}}
{{>@avatar
        avatarImage="https://placeimg.com/80/80/animals"
        avatarModifier="large"}}

<h3>Font Icon Avatars: Default / Medium / Large</h3>
{{>@avatar
        avatarFontIcon="comment"}}
{{>@avatar
        avatarFontIcon="comment"
        avatarModifier="medium"}}
{{>@avatar
        avatarFontIcon="comment"
        avatarModifier="large"}}

<h3>Text Avatars: Default / Medium / Large</h3>
{{>@avatar
        avatarTitle="Alpha"}}
{{>@avatar
        avatarTitle="Alpha"
        avatarModifier="medium"}}
{{>@avatar
        avatarTitle="Alpha"
        avatarModifier="large"}}