// Font Variables
//------------------------------------

$base-font-family: Proxima Nova, Arial, Helvetica, sans-serif !default;
$font-weight-normal: normal !default;
$font-weight-semi: 600 !default;
$font-weight-bold: 800 !default;
