$font-icon-banner: "\e900";
$font-icon-calendar-clock: "\e901";
$font-icon-camera: "\e902";
$font-icon-camera-open: "\e903";
$font-icon-caret-circled-down: "\e938";
$font-icon-caret-circled-up: "\e939";
$font-icon-caret-circled-right: "\e93a";
$font-icon-caret-circled-left: "\e904";
$font-icon-caret-circled-open-down: "\e93b";
$font-icon-caret-circled-open-up: "\e93c";
$font-icon-caret-circled-open-right: "\e93d";
$font-icon-caret-circled-open-left: "\e905";
$font-icon-caret-down: "\e906";
$font-icon-caret-up: "\e93e";
$font-icon-caret-right: "\e93f";
$font-icon-caret-left: "\e940";
$font-icon-check: "\e907";
$font-icon-check-circle: "\e908";
$font-icon-clock: "\e909";
$font-icon-close: "\e90a";
$font-icon-comment: "\e90b";
$font-icon-compass: "\e90c";
$font-icon-conversation: "\e90d";
$font-icon-conversation-open: "\e90e";
$font-icon-diet: "\e90f";
$font-icon-document: "\e910";
$font-icon-error: "\e911";
$font-icon-error-open: "\e912";
$font-icon-error-triangle-open: "\e913";
$font-icon-facebook: "\e914";
$font-icon-feelings: "\e915";
$font-icon-fitness: "\e916";
$font-icon-gender: "\e917";
$font-icon-google: "\e918";
$font-icon-hamburger: "\e919";
$font-icon-heart-pulse: "\e91a";
$font-icon-info: "\e91b";
$font-icon-info-open: "\e91c";
$font-icon-instagram: "\e91d";
$font-icon-insurance: "\e91e";
$font-icon-languages: "\e91f";
$font-icon-like-heart: "\e920";
$font-icon-like-heart-open: "\e921";
$font-icon-linkedin: "\e922";
$font-icon-location: "\e923";
$font-icon-location-open: "\e924";
$font-icon-lock: "\e925";
$font-icon-notifications: "\e926";
$font-icon-notifications-open: "\e927";
$font-icon-pinterest: "\e928";
$font-icon-play: "\e929";
$font-icon-plus-circle: "\e92a";
$font-icon-qa-answer: "\e92b";
$font-icon-qa-question: "\e92c";
$font-icon-realage: "\e92d";
$font-icon-search: "\e92e";
$font-icon-share: "\e92f";
$font-icon-sharecare: "\e930";
$font-icon-star: "\e931";
$font-icon-star-open: "\e932";
$font-icon-tag: "\e933";
$font-icon-tag-open: "\e934";
$font-icon-twitter: "\e935";
$font-icon-user: "\e936";
$font-icon-website: "\e937";
