// Import descriptive colors
@import 's-color-palette';

// Social Sharing Bar Color(s)
$color-fb-blue: $color-chambray !default;
// Facebook Blue
$color-twitter-blue: $color-dodger-blue !default;
// Twitter Blue
$color-pinterest-red: $color-cardinal !default;
// Pinterest Red
$color-clipix-grey: $color-dusty-gray !default;
// Clipix Grey
$color-email-grey: $color-gunsmoke !default;
// Email Grey
$color-gplus-black: $color-mine-shaft !default;
