// Primary color
$button-default-background-color: $theme-primary-color;

// Primary accent color
$button-default-background-hover-color: $theme-primary-accent-color;

// Primary supporting color

// Secondary color

// Secondary supporting color
$button-accent-background-color: $theme-secondary-supporting-color;
$button-secure-background-color: $theme-primary-accent-gray;

// Error color
$message-error-background-color: $theme-error-color;

// Warning color
$message-warning-background-color: $theme-warning-color;

// Success color
$message-success-background-color: $theme-success-color;

// CTA (Call to Action) color
$button-cta-background-color: $theme-cta-color;

// CTA (Call to Action) supporting color
$button-cta-background-hover-color: $theme-cta-supporting-color;

// Primary Greyscale
$button-accent-background-hover-color: $theme-primary-gray;
$button-secure-background-hover-color: $theme-primary-gray;


//$input-border-focus-color: $theme-primary-color;
//$input-icon-color: $theme-primary-color;
//$link-text-color: $secondary-brand-color;
//$link-hover-text-color: $tertiary-brand-color;
