@import '../../../scss/settings/s-color-palette';
@import '../../../scss/settings/s-spacing-unit-sizes';

//////////////////////////
/// 1. CONFIG
//////////////////////////
$card-simple-header-background-color: $color-alabaster !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-card__header {
  padding: ($spacing-unit * 2);
  display: flex;
  flex-direction: column;
}

//.c-card__header-image {
//  margin-right: ($spacing-unit * 2.5);
//  flex-shrink: 0;
//}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////
.c-card__header {

  &.is-simple {
    padding: $spacing-unit ($spacing-unit * 2) $spacing-unit;
  }
}


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////
.c-card__header {

  &.is-simple {
    background-color: $card-simple-header-background-color;
  }
}


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.c-card__header-title {
  font-size: 2.4rem;
  line-height: 2.8rem;

  &.is-simple {
    font-size: 2rem;
    line-height: 2.2rem;
    text-transform: uppercase;
  }
}
