{{!-- fractal/components/single-button-modal-usages.hbs --}}
<h3>Single Button Modal</h3>
{{> @modal
        isVisible=true
        modalName="single-button-modal"
        buttonLabel="Lorem Ipsum"}}
