@import '../../../scss/settings/s-base-variables';
@import '../../../scss/typography/ty-proxima-nova-variables';

//////////////////////////
/// 1. CONFIG
//////////////////////////


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-card__footer-link {
  padding: 0 $base-unit-size;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.c-card__footer-link {
  text-transform: uppercase;
  font-weight: $font-weight-semi;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
