@import 's-color-palette';

// Default theme name
// Must be lowercase and hyphenated
// Must match any respective directory paths
$theme: 'light-sea-green' !default;

$spacing-unit: 0.8rem !default;
$spacing-unit-half: ($spacing-unit / 2) !default;
$spacing-unit-2x: ($spacing-unit * 2) !default;

// Default Typography
$base-font-size: 1.6rem !default;
$base-line-height: 1.8rem !default;
$base-font-color: $color-mine-shaft !default;
