$base-spacing-unit: 0.8rem !default;

$spacing-unit: $base-spacing-unit !default;
$spacing-unit-quarter: ($spacing-unit / 4) !default;
$spacing-unit-half: ($spacing-unit / 2) !default;
$spacing-unit-2x: ($spacing-unit * 2) !default;
$spacing-unit-4x: ($spacing-unit * 4) !default;
