{{!-- fractal/components/text-card-usages.hbs --}}
<h3>Text Card with Font Icon</h3>
{{#> @card cardContext=textCardContext}}{{/@card}}

<h3>Title Avatar Full Header</h3>
{{#> @card cardContext=headerCardContext}}{{/@card}}

<h3>Media Card with Image and Full Media Header</h3>
{{#> @card cardContext=mediaCardContext}}{{/@card}}

<h3>Full Featured</h3>
{{#> @card cardContext=fullCardContext}}{{/@card}}