{{!-- fractal/components/mixed-card-usages.hbs --}}
<h3>Title Only Header with Text</h3>
{{#> @card}}
    {{> @card-header
            title="Lorem ipsum dolor sit amet"}}
    {{> @card-text
            textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis libero sed eros lobortis fringilla. Ut sed elit nisl. Fusce enim enim, sollicitudin ac dolor vel, fermentum pharetra justo. Integer vestibulum mauris in nibh maximus venenatis. Praesent pulvinar magna at dictum viverra. Nunc diam enim, auctor ac vestibulum at, tristique eu nisl. Donec eu justo id odio imperdiet porttitor vel in diam. Suspendisse non bibendum orci, nec venenatis ligula."}}
{{/@card}}

<h3>Title Only Header with Font Icon Text</h3>
{{#> @card}}
    {{> @card-header
            title="Lorem ipsum dolor sit amet"}}
    {{> @card-text
            fontIcon="qa-question"
            textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis libero sed eros lobortis fringilla. Ut sed elit nisl. Fusce enim enim, sollicitudin ac dolor vel, fermentum pharetra justo. Integer vestibulum mauris in nibh maximus venenatis. Praesent pulvinar magna at dictum viverra. Nunc diam enim, auctor ac vestibulum at, tristique eu nisl. Donec eu justo id odio imperdiet porttitor vel in diam. Suspendisse non bibendum orci, nec venenatis ligula."}}
{{/@card}}

<h3>Full Header with Text</h3>
{{#> @card}}
    {{> @card-header
            title="Lorem ipsum dolor sit amet"
            subtitle="Lorem ipsum dolor sit amet"}}
    {{> @card-text
            textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis libero sed eros lobortis fringilla. Ut sed elit nisl. Fusce enim enim, sollicitudin ac dolor vel, fermentum pharetra justo. Integer vestibulum mauris in nibh maximus venenatis. Praesent pulvinar magna at dictum viverra. Nunc diam enim, auctor ac vestibulum at, tristique eu nisl. Donec eu justo id odio imperdiet porttitor vel in diam. Suspendisse non bibendum orci, nec venenatis ligula."}}
{{/@card}}

<h3>Full Header with Font Icon Text</h3>
{{#> @card}}
    {{> @card-header
            title="Lorem ipsum dolor sit amet"
            subtitle="Lorem ipsum dolor sit amet"}}
    {{> @card-text
            fontIcon="qa-question"
            textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis libero sed eros lobortis fringilla. Ut sed elit nisl. Fusce enim enim, sollicitudin ac dolor vel, fermentum pharetra justo. Integer vestibulum mauris in nibh maximus venenatis. Praesent pulvinar magna at dictum viverra. Nunc diam enim, auctor ac vestibulum at, tristique eu nisl. Donec eu justo id odio imperdiet porttitor vel in diam. Suspendisse non bibendum orci, nec venenatis ligula."}}
{{/@card}}

<h3>Font Icon Title Only Header with Text</h3>
{{#> @card}}
    {{> @card-header
            title="Lorem ipsum dolor sit amet"
            fontIcon="qa-question"}}
    {{> @card-text
            textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis libero sed eros lobortis fringilla. Ut sed elit nisl. Fusce enim enim, sollicitudin ac dolor vel, fermentum pharetra justo. Integer vestibulum mauris in nibh maximus venenatis. Praesent pulvinar magna at dictum viverra. Nunc diam enim, auctor ac vestibulum at, tristique eu nisl. Donec eu justo id odio imperdiet porttitor vel in diam. Suspendisse non bibendum orci, nec venenatis ligula."}}
{{/@card}}

<h3>Font Icon Full Header with Text</h3>
{{#> @card}}
    {{> @card-header
            title="Lorem ipsum dolor sit amet"
            subtitle="Lorem ipsum dolor sit amet"
            fontIcon="qa-question"}}
    {{> @card-text
            textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis libero sed eros lobortis fringilla. Ut sed elit nisl. Fusce enim enim, sollicitudin ac dolor vel, fermentum pharetra justo. Integer vestibulum mauris in nibh maximus venenatis. Praesent pulvinar magna at dictum viverra. Nunc diam enim, auctor ac vestibulum at, tristique eu nisl. Donec eu justo id odio imperdiet porttitor vel in diam. Suspendisse non bibendum orci, nec venenatis ligula."}}
{{/@card}}

<h3>Avatar Full Header with Text</h3>
{{#> @card}}
    {{> @card-header
            title="Lorem ipsum dolor sit amet"
            subtitle="Lorem ipsum dolor sit amet"
            avatarImage="https://placeimg.com/80/80/animals"}}
    {{> @card-text
            textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis libero sed eros lobortis fringilla. Ut sed elit nisl. Fusce enim enim, sollicitudin ac dolor vel, fermentum pharetra justo. Integer vestibulum mauris in nibh maximus venenatis. Praesent pulvinar magna at dictum viverra. Nunc diam enim, auctor ac vestibulum at, tristique eu nisl. Donec eu justo id odio imperdiet porttitor vel in diam. Suspendisse non bibendum orci, nec venenatis ligula."}}
{{/@card}}

<h3>Full Featured</h3>
{{#> @card}}
    {{> @card-header
            title="Lorem ipsum dolor sit amet"
            subtitle="Lorem ipsum dolor sit amet"
            avatarImage="https://placeimg.com/80/80/animals"}}
    {{> @card-media
            mediaImage="https://placeimg.com/80/80/animals"
            mediaTitle="Lorem ipsum dolor sit amet"
            mediaSubtitle="Lorem ipsum dolor sit amet"}}
    {{> @card-header
            title="Lorem ipsum dolor sit amet"
            subtitle="Lorem ipsum dolor sit amet"}}
    {{> @card-text
            textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis libero sed eros lobortis fringilla. Ut sed elit nisl. Fusce enim enim, sollicitudin ac dolor vel, fermentum pharetra justo. Integer vestibulum mauris in nibh maximus venenatis. Praesent pulvinar magna at dictum viverra. Nunc diam enim, auctor ac vestibulum at, tristique eu nisl. Donec eu justo id odio imperdiet porttitor vel in diam. Suspendisse non bibendum orci, nec venenatis ligula."}}
    {{> @card-footer
            cardFooterLinkLabel="READ MORE"}}
{{/@card}}