{{!-- fractal/components/site-navigation-bar.hbs --}}
<div class="c-site-navigation-bar

    {{~#if siteNavigationBarModifier}} c-site-navigation-bar--{{siteNavigationBarModifier}}{{/if}}{{#each siteNavigationBarContext.modifiers}} c-site-navigation-bar--{{this}}{{/each~}}

    {{~#if siteNavigationBarClasses}} {{siteNavigationBarClasses}}{{/if}}{{#each siteNavigationBarContext.classes}} {{this}}{{/each}}">

    {{~#> @link
            linkClasses="c-site-navigation-bar__site-logo"
            linkTo="https://www.sharecare.com"}}
        {{> @svg-icon svgIcon="sharecare-icon-color"
                svgIconClasses="l-hidden-lg-up"}}
        {{> @svg-icon svgIcon="sharecare-logo-color"
                svgIconClasses="l-hidden-md-down"}}
    {{/@link~}}

    <div class="c-site-navigation-bar__join-login l-hidden-sm-up">
        {{> @link
                linkLabel="Log In"
                linkTo="https://www.sharecare.com"
                linkClasses="c-site-navigation-bar__join-login-link"}}
        {{> @link
                linkLabel="Sign Up"
                linkTo="https://www.sharecare.com"
                linkClasses="c-site-navigation-bar__join-login-link"}}
    </div>

    {{~> @site-navigation
            siteNavigationContext=siteNavigationBarContext.siteNavigation
            siteNavigationClasses="c-site-navigation-bar__navigation l-hidden-xs"~}}

    {{~> @drawer-trigger
            drawerContext=siteNavigationBarContext.drawer
            drawerTriggerClasses="c-site-navigation-bar__drawer-trigger l-hidden-sm-up"
            drawerIdFor="c-drawer--site"~}}

    {{~#> @drawer
            drawerContext=siteNavigationBarContext.drawer
            drawerClasses="l-hidden-sm-up"
            drawerIdFor="c-drawer--site"}}
        {{> @global-search
                globalSearchContext=siteNavigationBarContext.globalSearch}}
        {{> @site-navigation
                siteNavigationContext=siteNavigationBarContext.siteNavigation
                siteNavigationClasses="c-site-drawer__navigation"}}
    {{/@drawer~}}
</div>