@import '../../../scss/settings/s-color-palette';
@import '../../../scss/settings/s-default-typography';

//////////////////////////
/// 1. CONFIG
//////////////////////////
$site-drawer-pane-background-color: $color-pure-white !default;
$site-drawer-search-background-color: $color-silver !default;
$site-drawer-navigation-link-border-color: $color-gallery !default;
$site-drawer-apps-header-background-color: $color-silver !default;
$site-drawer-apps-header-text-color: $color-pure-white !default;

//$site-navigation-tab-label-color: $color-mine-shaft !default;
//$site-navigation-tab-label-selected-color: $color-mountain-meadow !default;
//$site-navigation-tab-border-color: $color-gallery !default;

//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.m-site-drawer__pane {
  top: 0;
}

.m-site-drawer__logo {
  display: inline-flex;
  margin: 1.6rem;
}

.m-site-drawer__logo-icon {
  height: calc(2.6rem * 0.75);
  width: calc(20rem * 0.75);
}

.m-site-drawer__search {
  padding: 1.6rem;
}

.m-site-drawer__navigation {
  flex-direction: column;
}

.m-site-drawer__navigation-link {
  margin-left: 0;
  padding: 1.6rem;
  border-top: 0.1rem solid;

  &:first-child {
    border: 0;
  }
}

.m-site-drawer__navigation-label {}

.m-site-drawer__apps-header {
  padding: 0.2rem 1.6rem;
}

.m-site-drawer__app {
  padding: 1.6rem;
  display: flex;
  align-items: center;

  >:first-child {
    order: 2;
  }
}

.m-site-drawer__app-logo {
  order: 1;
  margin-right: 0.8rem;
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////
.m-site-drawer__pane {
  background-color: $site-drawer-pane-background-color
}

.m-site-drawer__search {
  background-color: $site-drawer-search-background-color;
}

.m-site-drawer__navigation-link {
  border-color: $site-drawer-navigation-link-border-color;
}

.m-site-drawer__apps-header {
  background-color: $site-drawer-apps-header-background-color;
  color: $site-drawer-apps-header-text-color;
}


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.m-site-drawer__navigation-label {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: $font-weight-semi;
}

.m-site-drawer__apps-header {
  font-size: 1rem;
}
