{{!-- fractal/components/social-icons.hbs --}}
<div class="c-social-icons

    {{~#if socialIconsModifier}} c-social-icons--{{socialIconsModifier}}{{/if}}{{#each socialIconsContext.modifiers}} c-social-icons--{{this}}{{/each~}}

    {{~#if socialIconsClasses}} {{socialIconsClasses}}{{/if}}{{#each socialIconsContext.classes}} {{this}}{{/each}}">

    {{~#> @link
            linkTo="https://www.facebook.com"
            linkClasses="c-social-icons__link"}}
        {{> @svg-icon svgIcon="facebook"
                svgIconClasses="c-social-icons__icon"}}
    {{/@link}}
    {{#> @link
            linkTo="https://www.twitter.com"
            linkClasses="c-social-icons__link"}}
        {{> @svg-icon svgIcon="twitter"
                svgIconClasses="c-social-icons__icon"}}
    {{/@link}}
    {{#> @link
            linkTo="https://www.linkedin.com"
            linkClasses="c-social-icons__link"}}
        {{> @svg-icon svgIcon="linkedin"
                svgIconClasses="c-social-icons__icon"}}
    {{/@link}}
    {{#> @link
            linkTo="https://www.google.com"
            linkClasses="c-social-icons__link"}}
        {{> @svg-icon svgIcon="google"
                svgIconClasses="c-social-icons__icon"}}
    {{/@link}}
    {{#> @link
            linkTo="https://www.instagram.com"
            linkClasses="c-social-icons__link"}}
        {{> @svg-icon svgIcon="instagram"
                svgIconClasses="c-social-icons__icon"}}
    {{/@link}}
    {{#> @link
            linkTo="https://www.pinterest.com"
            linkClasses="c-social-icons__link"}}
        {{> @svg-icon svgIcon="pinterest"
                svgIconClasses="c-social-icons__icon"}}
    {{/@link~}}
</div>