@import '../../../scss/settings/s-color-palette';
@import '../../../scss/typography/ty-proxima-nova-variables';

//////////////////////////
/// 1. CONFIG
//////////////////////////
$svg-bar-chart-marker-color: $color-alto !default;
$svg-bar-chart-marker-text-color: $color-dove-gray !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-svg-bar-chart__header,
.c-svg-bar-chart__footer {
  display: flex;
  justify-content: space-between;
}

.c-svg-bar-chart__footer {
  height: 2.5rem;
  position: relative;
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////
.c-svg-bar-chart__marker {
  fill: $svg-bar-chart-marker-color;
}

.c-svg-bar-chart__marker-text {
  fill: $svg-bar-chart-marker-text-color;
}


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.c-svg-bar-chart__marker-text {
  text-anchor: middle;
  font-size: 1.2rem;
  font-weight: $font-weight-semi;

  &.is-first {
    text-anchor: start;
  }

  &.is-last {
    text-anchor: end;
  }
}
