{{!-- fractal/components/banner-usages.hbs --}}
<h3>Success Banner</h3>
{{> @banner
        bannerName="success"
        bannerFontIcon="conversation-open"
        bannerModifier="success"
        bannerLabel="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}}

<h3>Alert Banner</h3>
{{> @banner
        bannerName="alert"
        bannerFontIcon="error-triangle-open"
        bannerModifier="alert"
        bannerLabel="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}}

<h3>Warning Banner</h3>
{{> @banner
        bannerName="warning"
        bannerFontIcon="error-open"
        bannerModifier="warning"
        bannerLabel="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}}
