{{!-- fractal/components/chip-usages.hbs --}}
<h3>Basic Chip</h3>
{{> @pagination pageNumbers=[
      {"page": "1"},
      {"page": "2", "selected": true},
      {"page": "3"},
      {"page": "4"},
      {"page": "5"},
      {"page": "6"},
      {"page": "..."},
      {"page": "17"}
    ]}}