// 1. Import descriptive colors
@import '../s-color-palette';

// 2. Overwrite paths
$theme: 'havelock-blue';


// 3A. Overwrite palette
// TODO: these should be refactored out in favor of functionally named component variables (#3A below)
// TODO: DO NOT PROPAGATE THESE VARIABLES
$theme-primary-color: $color-steel-blue;
$theme-primary-supporting-color: $color-regal-blue;
$theme-secondary-supporting-color: $color-prussian-blue;
//$color-secondary-color1: $color-mystic;
//$color-secondary-color2: $color-pigeon-post;
$theme-primary-accent-color: $color-malibu;
//$color-negative-response-color1: $color-siren;
$theme-error-color: $color-viola;
$color-negative-response-color3: '';
//$color-positive-response-color1: $color-olive-drab;
//$color-positive-response-color2: $color-pine-glade;
$theme-cta-color: $color-buddha-gold;
$theme-cta-supporting-color: $color-chenin;
//$color-accent-color3: $color-chathams-blue;
//$color-alternate-1: $color-ripe-lemon;
//$color-alternate-2: $color-amethyst-smoke;
//$color-alternate-3: $color-affair;
//$color-alternate-4: '';


// 3B. Overwrite components
// Examples:
// $color-card-background: $color-white;
// $color-link-text: $color-curious-blue;


// 4. Overwrite typography color
// NOTE: No other typography settings allowed in here
// Examples:
//$base-font-color: $color-mine-shaft;
