@import '../../../scss/utilities/u-breakpoint-down';
@import '../../../scss/utilities/u-get-z-index';

//////////////////////////
/// 1. CONFIG
//////////////////////////


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////
.c-sticky-bar {

}

.c-sticky {

  @include media-breakpoint-down(sm) {

    &.is-sticky {
      position: fixed;
      z-index: z('sticky');
      left: 0;
      right: 0;

      &.is-sticky-top {
        top: 0;
      }

      &.is-sticky-bottom {
        bottom: 0;
      }
    }
  }
}


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
