@import '../../../scss/settings/s-color-palette';
@import '../../../scss/utilities/u-respond-to-breakpoint';

//////////////////////////
/// 1. CONFIG
//////////////////////////


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.m-site-logos-bar {
  padding: 0.8rem 0;

  @include respond-to(sm) {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 0.8rem 1.6rem;
  }
}

.m-site-logos-bar__site-logos {

  .c-site-logos__link {

    &:last-child {

      &::after {

        @include respond-to(sm) {
          content: '';
        }

        @include respond-to(lg) {
          content: none;
        }
      }
    }
  }
}

.m-site-logos-bar__social-links {
  margin-top: 0.8rem;

  @include respond-to(sm) {
    margin: 0;
  }
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
