@charset 'UTF-8';

// Grid display styles
.box-row {
  margin-bottom: 1em;
}

.box-large {
  height: 8rem;
}

.box, .box-first, .box-large, .box-nested, .box-row {
  padding: 0.5rem;
}

.box, .box-first, .box-large, .box-nested, .box-row {
  position: relative;
  box-sizing: border-box;
  min-height: 4rem;
  background: rgba(41, 75, 105, 0.1);
  overflow: hidden;
  text-align: center;
  color: #294b69;
  border-radius: 0.2rem;
  border: 1px solid #6f9dc7;
}

.grid-preview {
  padding: 0;

  .l-content-section {
    > * {
      margin-bottom: 20px;
    }
  }
}