@import '../../../scss/settings/s-spacing-units';

//////////////////////////
/// 1. CONFIG
//////////////////////////


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-card__text {
  padding: ($spacing-unit * 2);
  display: flex;
  flex-direction: column;

  + .c-card__text {
    padding-top: 0;
  }
}

.c-card__text-header {
  padding: 0;
  margin-bottom: $spacing-unit;
}

//.c-card__text-image {
//  margin-right: ($spacing-unit);
//}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.c-card__text {
  font-size: 1.4rem;
  line-height: 1.7rem
}
