//////////////////////////
/// DOCUMENTATION
//////////////////////////
/// <ul class="c-pagination">
///     <li class="c-pagination__item c-pagination__control">
///         <span class="i-icon icon--circled-caret-left"></span>
///     </li>
///     <li class="c-pagination__item c-pagination__page"></li>
///     ...
///     <li class="c-pagination__item c-pagination__control">
///         <span class="i-icon icon--circled-caret-right"></span>
///     </li>
/// </ul>


//////////////////////////
/// 1. CONFIG
//////////////////////////
$pagination-item-text-color: $color-curious-blue !default;
$pagination-item-selected-text-color: $color-pure-white !default;
$pagination-item-selected-background-color: $color-mountain-meadow !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.c-pagination {
  margin: 2rem auto;
}

.c-pagination__item {
  cursor: pointer;
  display: inline-block;
}

.c-pagination__page {
  margin: 0 0.7rem 0 0.8rem;
}

.c-pagination__control {

  &:first-child {
    margin-right: 0.7rem;
  }

  &:last-child {
    margin-left: 0.8rem;
  }
}


//////////////////////////
/// 3. STATE RULES - is-className, media queries, etc
//////////////////////////
.c-pagination__item--disabled {
  opacity: 0.5;
  cursor: default;
}
.c-pagination__page--selected {
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 0.3rem 0 0.4rem;
}


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////
.c-pagination__page {
  color: $pagination-item-text-color;
}

.c-pagination__page--selected {
  color: $pagination-item-selected-text-color;
  background-color: $pagination-item-selected-background-color;
}


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.c-pagination {
  text-align: center;
}

.c-pagination__page {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: $font-weight-bold;
}
