{{!-- fractal/components/site-navigation.hbs --}}
<div class="c-site-navigation

    {{~#if siteNavigationModifier}} c-site-navigation--{{siteNavigationModifier}}{{/if}}{{#each siteNavigationContext.modifiers}} c-site-navigation--{{this}}{{/each~}}

    {{~#if siteNavigationClasses}} {{siteNavigationClasses}}{{/if}}{{#each siteNavigationContext.classes}} {{this}}{{/each}}">

    {{~> @navigation
            navigationContext=siteNavigationContext.navigation
            navigationClasses="c-site-navigation__navigation"~}}
</div>