@import '../../../scss/settings/s-color-palette';
@import '../../../scss/utilities/u-respond-to-breakpoint';

//////////////////////////
/// 1. CONFIG
//////////////////////////
$recommendation-navigation-background-color: $color-alabaster !default;
$recommendation-navigation-shadow-color: $color-pure-black !default;
$recommendation-navigation-shadow-color: $color-pure-black !default;
$recommendation-navigation-module-name-text-color: $color-dusty-gray !default;
$recommendation-sticky-navigation-control-text-color: $color-mine-shaft !default;
$recommendation-navigation-control-text-color: $color-dusty-gray !default;
$recommendation-navigation-control-module-name-text-color: $color-mine-shaft !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.m-assessment__recommendation-navigation-sticky {

  .c-sticky {

    @include respond-to(md) {
      position: relative;
    }
  }
}

.m-assessment__recommendation-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;

  @include respond-to(md) {
    padding: 0;
  }
}

.m-assessment__recommendation-navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;

  .c-svg-icon {
    width: 2rem;
    height: 2rem;

    @include respond-to(md) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.m-assessment__recommendation-navigation-link-text {

  @include respond-to(md) {
    padding: 0 1.5rem;
  }

  > span {

    &:first-child {

      @include respond-to(md) {
        display: block;
      }
    }
    &:last-child {
      display: none;

      @include respond-to(md) {
        display: block;
      }
    }
  }
}

.m-assessment__recommendation-navigation-module-name {

  @include respond-to(md) {
    display: none;
  }
}


//////////////////////////
/// 3. STATE RULES - is-className, has-className, etc
//////////////////////////
.m-assessment__recommendation-navigation {

  &.is-header-nav {

    @include respond-to(md) {
      margin-bottom: 3rem;
      order: 0;
    }
  }

  &.is-footer-nav {

    @include respond-to(md) {
      margin-top: 2rem;
    }
  }
}


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////
.m-assessment__recommendation-navigation {
  background-color: $recommendation-navigation-background-color;
  box-shadow: 0 0.4rem 1rem 0 rgba($recommendation-navigation-shadow-color, 0.3);

  @include respond-to(md) {
    box-shadow: none;
    background-color: transparent;
  }
}

.m-assessment__recommendation-navigation-link-text {

  > span {

    // Navigation next/prev text
    &:first-child {
      color: $recommendation-sticky-navigation-control-text-color;

      @include respond-to(md) {
        color: $recommendation-navigation-control-text-color;
      }
    }

    // Navigation module name text
    &:last-child {

      @include respond-to(md) {
        color: $recommendation-navigation-control-module-name-text-color;
      }
    }
  }
}

.m-assessment__recommendation-navigation-module-name {
  color: $recommendation-navigation-module-name-text-color;
}


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
.m-assessment__recommendation-navigation-link-text {

  > span {

    &:first-child {
      font-size: 1.4rem;
      line-height: 1.7rem;
      font-weight: 600;
      text-transform: uppercase;

      @include respond-to(md) {
        font-size: 1.2rem;
        line-height: 1.4rem;
        text-transform: capitalize;
      }
    }
    &:last-child {

      @include respond-to(md) {
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

.m-assessment__recommendation-navigation-module-name {
  font-size: 1.4rem;
  line-height: 1.7rem;
}
