{{!-- fractal/components/split-button-modal-usages.hbs --}}
<h3>Split Button Modal</h3>
{{> @modal
        isVisible=true
        hasCancel=true
        modalName="split-button-modal"
        buttonLabel="Lorem Ipsum"}}