{{!-- fractal/components/fixed-page-content.hbs --}}
<main>
    {{#> @fixed-page-container fixedPageContainerClasses="m-page-content"}}
        {{> page-content}}
    {{/@fixed-page-container}}
</main>