@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    $infix: if($infix == '', -xs, #{$infix}-down);
    .hidden#{$infix},
    .visible#{$infix}-none,
    .visible#{$infix}-inline,
    .visible#{$infix}-inline-block,
    .visible#{$infix}-block,
    .visible#{$infix}-table,
    .visible#{$infix}-table-cell,
    .visible#{$infix}-flex,
    .visible#{$infix}-inline-flex  { display: none !important; }

    .visible#{$infix}-inline       { display: inline !important; }
    .visible#{$infix}-inline-block { display: inline-block !important; }
    .visible#{$infix}-block        { display: block !important; }
    .visible#{$infix}-table        { display: table !important; }
    .visible#{$infix}-table-cell   { display: table-cell !important; }
    .visible#{$infix}-flex         { display: flex !important; }
    .visible#{$infix}-inline-flex  { display: inline-flex !important; }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-only($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .hidden#{$infix},
    .visible#{$infix}-none,
    .visible#{$infix}-inline,
    .visible#{$infix}-inline-block,
    .visible#{$infix}-block,
    .visible#{$infix}-table,
    .visible#{$infix}-table-cell,
    .visible#{$infix}-flex,
    .visible#{$infix}-inline-flex  { display: none !important; }

    .visible#{$infix}-inline       { display: inline !important; }
    .visible#{$infix}-inline-block { display: inline-block !important; }
    .visible#{$infix}-block        { display: block !important; }
    .visible#{$infix}-table        { display: table !important; }
    .visible#{$infix}-table-cell   { display: table-cell !important; }
    .visible#{$infix}-flex         { display: flex !important; }
    .visible#{$infix}-inline-flex  { display: inline-flex !important; }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @if($infix != '') {
      $infix: #{$infix}-up;
      .hidden#{$infix},
      .visible#{$infix}-none,
      .visible#{$infix}-inline,
      .visible#{$infix}-inline-block,
      .visible#{$infix}-block,
      .visible#{$infix}-table,
      .visible#{$infix}-table-cell,
      .visible#{$infix}-flex,
      .visible#{$infix}-inline-flex  { display: none !important; }

      .visible#{$infix}-inline       { display: inline !important; }
      .visible#{$infix}-inline-block { display: inline-block !important; }
      .visible#{$infix}-block        { display: block !important; }
      .visible#{$infix}-table        { display: table !important; }
      .visible#{$infix}-table-cell   { display: table-cell !important; }
      .visible#{$infix}-flex         { display: flex !important; }
      .visible#{$infix}-inline-flex  { display: inline-flex !important; }
    }
  }
}
