//////////////////////////
/// 1. CONFIG
//////////////////////////
$footer-about-bar-background-color: $color-alabaster !default;
$footer-fad-bar-background-color: $color-mine-shaft !default;
$footer-disclaimer-bar-background-color: $color-mine-shaft !default;


//////////////////////////
/// 2. BASE LAYOUT RULES - display, float, position, left, top, height, width, padding, margin, etc.
//////////////////////////
.m-page-footer__site-logos {
  flex-grow: 1;
}

.m-page-footer__site-about {
  flex-grow: 1;
}


//////////////////////////
/// 3. STATE RULES - is-className, media queries, etc
//////////////////////////


//////////////////////////
/// 4. THEME/SKIN RULES - gradients, colors, box-shadows, etc.
//////////////////////////
.m-page-footer__site-about-bar {
  background-color: $footer-about-bar-background-color;
}

.m-page-footer__site-fad-bar {
  background-color: $footer-fad-bar-background-color;
}

.m-page-footer__site-disclaimer-bar {
  background-color: $footer-disclaimer-bar-background-color;
}


//////////////////////////
/// 5. TYPOGRAPHY RULES
//////////////////////////
