{{!-- fractal/components/grid--align-middle.hbs --}}
<section class="l-grid-wrapper l-grid-container-fluid">
    <div class="row middle-xs">
        <div class="col-xs-6">
            <div class="box-large"></div>
        </div>
        <div class="col-xs-6">
            <div class="box"></div>
        </div>
    </div>
</section>