{{!-- fractal/components/grid--space-around.hbs --}}
<section class="l-grid-wrapper l-grid-container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-container">
                <div class="row around-xs">
                    <div class="col-xs-2">
                        <div class="box-nested"></div>
                    </div>
                    <div class="col-xs-2">
                        <div class="box-nested"></div>
                    </div>
                    <div class="col-xs-2">
                        <div class="box-nested"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>