{{!-- fractal/components/grid--order-last.hbs --}}
<section class="l-grid-wrapper l-grid-container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-container">
                <div class="row">
                    <div class="col-xs-2 last-xs">
                        <div class="box-nested">1</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="box-first">2</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="box-first">3</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="box-first">4</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="box-first">5</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="box-first">6</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>