{{!-- fractal/components/badge-usages.hbs --}}
<h3>Plain Badges</h3>
{{> @badge
        badgeLabel="9"}}
{{> @badge
        badgeLabel="99"}}
{{> @badge
        badgeLabel="999"}}

<h3>Icon Badges</h3>
{{> @badge
        badgeFontIcon="banner"}}
{{> @badge
        badgeModifier="primary"
        badgeFontIcon="banner"}}
{{> @badge
        badgeModifier="accent"
        badgeFontIcon="banner"}}
{{> @badge
        badgeModifier="warning"
        badgeFontIcon="banner"}}
{{> @badge
        badgeModifier="alert"
        badgeFontIcon="banner"}}

<h3>Primary Badges</h3>
{{> @badge
        badgeModifier="primary"
        badgeLabel="9"}}
{{> @badge
        badgeModifier="primary"
        badgeLabel="99"}}
{{> @badge
        badgeModifier="primary"
        badgeLabel="999"}}

<h3>Accent Badges</h3>
{{> @badge
        badgeModifier="accent"
        badgeLabel="9"}}
{{> @badge
        badgeModifier="accent"
        badgeLabel="99"}}
{{> @badge
        badgeModifier="accent"
        badgeLabel="999"}}

<h3>Warning Badges</h3>
{{> @badge
        badgeModifier="warning"
        badgeLabel="9"}}
{{> @badge
        badgeModifier="warning"
        badgeLabel="99"}}
{{> @badge
        badgeModifier="warning"
        badgeLabel="999"}}

<h3>Alert Badges</h3>
{{> @badge
        badgeModifier="alert"
        badgeLabel="9"}}
{{> @badge
        badgeModifier="alert"
        badgeLabel="99"}}
{{> @badge
        badgeModifier="alert"
        badgeLabel="999"}}