{{!-- fractal/components/font-icon-size-usages.hbs --}}
<h3>Extra Small (XS) Font Icons</h3>
{{> @font-icon fontIcon="banner" fontIconModifier="xs"}}
{{> @font-icon fontIcon="calendar-clock" fontIconModifier="xs"}}
{{> @font-icon fontIcon="camera" fontIconModifier="xs"}}
{{> @font-icon fontIcon="camera-open" fontIconModifier="xs"}}
{{> @font-icon fontIcon="caret-circled-down" fontIconModifier="xs"}}
{{> @font-icon fontIcon="caret-circled-up" fontIconModifier="xs"}}
{{> @font-icon fontIcon="caret-circled-right" fontIconModifier="xs"}}
{{> @font-icon fontIcon="caret-circled-left" fontIconModifier="xs"}}
{{> @font-icon fontIcon="caret-circled-open-down" fontIconModifier="xs"}}
{{> @font-icon fontIcon="caret-circled-open-up" fontIconModifier="xs"}}
{{> @font-icon fontIcon="caret-circled-open-right" fontIconModifier="xs"}}
{{> @font-icon fontIcon="caret-circled-open-left" fontIconModifier="xs"}}
{{> @font-icon fontIcon="caret-down" fontIconModifier="xs"}}
{{> @font-icon fontIcon="caret-up" fontIconModifier="xs"}}
{{> @font-icon fontIcon="caret-right" fontIconModifier="xs"}}
{{> @font-icon fontIcon="caret-left" fontIconModifier="xs"}}
{{> @font-icon fontIcon="check" fontIconModifier="xs"}}
{{> @font-icon fontIcon="check-circle" fontIconModifier="xs"}}
{{> @font-icon fontIcon="clock" fontIconModifier="xs"}}
{{> @font-icon fontIcon="close" fontIconModifier="xs"}}
{{> @font-icon fontIcon="comment" fontIconModifier="xs"}}
{{> @font-icon fontIcon="compass" fontIconModifier="xs"}}
{{> @font-icon fontIcon="conversation" fontIconModifier="xs"}}
{{> @font-icon fontIcon="conversation-open" fontIconModifier="xs"}}
{{> @font-icon fontIcon="diet" fontIconModifier="xs"}}
{{> @font-icon fontIcon="document" fontIconModifier="xs"}}
{{> @font-icon fontIcon="error" fontIconModifier="xs"}}
{{> @font-icon fontIcon="error-open" fontIconModifier="xs"}}
{{> @font-icon fontIcon="error-triangle-open" fontIconModifier="xs"}}
{{> @font-icon fontIcon="facebook" fontIconModifier="xs"}}
{{> @font-icon fontIcon="feelings" fontIconModifier="xs"}}
{{> @font-icon fontIcon="fitness" fontIconModifier="xs"}}
{{> @font-icon fontIcon="gender" fontIconModifier="xs"}}
{{> @font-icon fontIcon="google" fontIconModifier="xs"}}
{{> @font-icon fontIcon="hamburger" fontIconModifier="xs"}}
{{> @font-icon fontIcon="heart-pulse" fontIconModifier="xs"}}
{{> @font-icon fontIcon="info" fontIconModifier="xs"}}
{{> @font-icon fontIcon="info-open" fontIconModifier="xs"}}
{{> @font-icon fontIcon="instagram" fontIconModifier="xs"}}
{{> @font-icon fontIcon="insurance" fontIconModifier="xs"}}
{{> @font-icon fontIcon="languages" fontIconModifier="xs"}}
{{> @font-icon fontIcon="like-heart" fontIconModifier="xs"}}
{{> @font-icon fontIcon="like-heart-open" fontIconModifier="xs"}}
{{> @font-icon fontIcon="linkedin" fontIconModifier="xs"}}
{{> @font-icon fontIcon="location" fontIconModifier="xs"}}
{{> @font-icon fontIcon="location-open" fontIconModifier="xs"}}
{{> @font-icon fontIcon="lock" fontIconModifier="xs"}}
{{> @font-icon fontIcon="notifications" fontIconModifier="xs"}}
{{> @font-icon fontIcon="notifications-open" fontIconModifier="xs"}}
{{> @font-icon fontIcon="pinterest" fontIconModifier="xs"}}
{{> @font-icon fontIcon="play" fontIconModifier="xs"}}
{{> @font-icon fontIcon="plus-circle" fontIconModifier="xs"}}
{{> @font-icon fontIcon="qa-answer" fontIconModifier="xs"}}
{{> @font-icon fontIcon="qa-question" fontIconModifier="xs"}}
{{> @font-icon fontIcon="realage" fontIconModifier="xs"}}
{{> @font-icon fontIcon="search" fontIconModifier="xs"}}
{{> @font-icon fontIcon="share" fontIconModifier="xs"}}
{{> @font-icon fontIcon="sharecare" fontIconModifier="xs"}}
{{> @font-icon fontIcon="star" fontIconModifier="xs"}}
{{> @font-icon fontIcon="star-open" fontIconModifier="xs"}}
{{> @font-icon fontIcon="tag" fontIconModifier="xs"}}
{{> @font-icon fontIcon="tag-open" fontIconModifier="xs"}}
{{> @font-icon fontIcon="twitter" fontIconModifier="xs"}}
{{> @font-icon fontIcon="user" fontIconModifier="xs"}}
{{> @font-icon fontIcon="website" fontIconModifier="xs"}}

<h3>Small (SM) Font Icons</h3>
{{> @font-icon fontIcon="banner" fontIconModifier="sm"}}
{{> @font-icon fontIcon="calendar-clock" fontIconModifier="sm"}}
{{> @font-icon fontIcon="camera" fontIconModifier="sm"}}
{{> @font-icon fontIcon="camera-open" fontIconModifier="sm"}}
{{> @font-icon fontIcon="caret-circled-down" fontIconModifier="sm"}}
{{> @font-icon fontIcon="caret-circled-up" fontIconModifier="sm"}}
{{> @font-icon fontIcon="caret-circled-right" fontIconModifier="sm"}}
{{> @font-icon fontIcon="caret-circled-left" fontIconModifier="sm"}}
{{> @font-icon fontIcon="caret-circled-open-down" fontIconModifier="sm"}}
{{> @font-icon fontIcon="caret-circled-open-up" fontIconModifier="sm"}}
{{> @font-icon fontIcon="caret-circled-open-right" fontIconModifier="sm"}}
{{> @font-icon fontIcon="caret-circled-open-left" fontIconModifier="sm"}}
{{> @font-icon fontIcon="caret-down" fontIconModifier="sm"}}
{{> @font-icon fontIcon="caret-up" fontIconModifier="sm"}}
{{> @font-icon fontIcon="caret-right" fontIconModifier="sm"}}
{{> @font-icon fontIcon="caret-left" fontIconModifier="sm"}}
{{> @font-icon fontIcon="check" fontIconModifier="sm"}}
{{> @font-icon fontIcon="check-circle" fontIconModifier="sm"}}
{{> @font-icon fontIcon="clock" fontIconModifier="sm"}}
{{> @font-icon fontIcon="close" fontIconModifier="sm"}}
{{> @font-icon fontIcon="comment" fontIconModifier="sm"}}
{{> @font-icon fontIcon="compass" fontIconModifier="sm"}}
{{> @font-icon fontIcon="conversation" fontIconModifier="sm"}}
{{> @font-icon fontIcon="conversation-open" fontIconModifier="sm"}}
{{> @font-icon fontIcon="diet" fontIconModifier="sm"}}
{{> @font-icon fontIcon="document" fontIconModifier="sm"}}
{{> @font-icon fontIcon="error" fontIconModifier="sm"}}
{{> @font-icon fontIcon="error-open" fontIconModifier="sm"}}
{{> @font-icon fontIcon="error-triangle-open" fontIconModifier="sm"}}
{{> @font-icon fontIcon="facebook" fontIconModifier="sm"}}
{{> @font-icon fontIcon="feelings" fontIconModifier="sm"}}
{{> @font-icon fontIcon="fitness" fontIconModifier="sm"}}
{{> @font-icon fontIcon="gender" fontIconModifier="sm"}}
{{> @font-icon fontIcon="google" fontIconModifier="sm"}}
{{> @font-icon fontIcon="hamburger" fontIconModifier="sm"}}
{{> @font-icon fontIcon="heart-pulse" fontIconModifier="sm"}}
{{> @font-icon fontIcon="info" fontIconModifier="sm"}}
{{> @font-icon fontIcon="info-open" fontIconModifier="sm"}}
{{> @font-icon fontIcon="instagram" fontIconModifier="sm"}}
{{> @font-icon fontIcon="insurance" fontIconModifier="sm"}}
{{> @font-icon fontIcon="languages" fontIconModifier="sm"}}
{{> @font-icon fontIcon="like-heart" fontIconModifier="sm"}}
{{> @font-icon fontIcon="like-heart-open" fontIconModifier="sm"}}
{{> @font-icon fontIcon="linkedin" fontIconModifier="sm"}}
{{> @font-icon fontIcon="location" fontIconModifier="sm"}}
{{> @font-icon fontIcon="location-open" fontIconModifier="sm"}}
{{> @font-icon fontIcon="lock" fontIconModifier="sm"}}
{{> @font-icon fontIcon="notifications" fontIconModifier="sm"}}
{{> @font-icon fontIcon="notifications-open" fontIconModifier="sm"}}
{{> @font-icon fontIcon="pinterest" fontIconModifier="sm"}}
{{> @font-icon fontIcon="play" fontIconModifier="sm"}}
{{> @font-icon fontIcon="plus-circle" fontIconModifier="sm"}}
{{> @font-icon fontIcon="qa-answer" fontIconModifier="sm"}}
{{> @font-icon fontIcon="qa-question" fontIconModifier="sm"}}
{{> @font-icon fontIcon="realage" fontIconModifier="sm"}}
{{> @font-icon fontIcon="search" fontIconModifier="sm"}}
{{> @font-icon fontIcon="share" fontIconModifier="sm"}}
{{> @font-icon fontIcon="sharecare" fontIconModifier="sm"}}
{{> @font-icon fontIcon="star" fontIconModifier="sm"}}
{{> @font-icon fontIcon="star-open" fontIconModifier="sm"}}
{{> @font-icon fontIcon="tag" fontIconModifier="sm"}}
{{> @font-icon fontIcon="tag-open" fontIconModifier="sm"}}
{{> @font-icon fontIcon="twitter" fontIconModifier="sm"}}
{{> @font-icon fontIcon="user" fontIconModifier="sm"}}
{{> @font-icon fontIcon="website" fontIconModifier="sm"}}

<h3>Medium (MD) Font Icons (Default)</h3>
{{> @font-icon fontIcon="banner"}}
{{> @font-icon fontIcon="calendar-clock"}}
{{> @font-icon fontIcon="camera"}}
{{> @font-icon fontIcon="camera-open"}}
{{> @font-icon fontIcon="caret-circled-down"}}
{{> @font-icon fontIcon="caret-circled-up"}}
{{> @font-icon fontIcon="caret-circled-right"}}
{{> @font-icon fontIcon="caret-circled-left"}}
{{> @font-icon fontIcon="caret-circled-open-down"}}
{{> @font-icon fontIcon="caret-circled-open-up"}}
{{> @font-icon fontIcon="caret-circled-open-right"}}
{{> @font-icon fontIcon="caret-circled-open-left"}}
{{> @font-icon fontIcon="caret-down"}}
{{> @font-icon fontIcon="caret-up"}}
{{> @font-icon fontIcon="caret-right"}}
{{> @font-icon fontIcon="caret-left"}}
{{> @font-icon fontIcon="check"}}
{{> @font-icon fontIcon="check-circle"}}
{{> @font-icon fontIcon="clock"}}
{{> @font-icon fontIcon="close"}}
{{> @font-icon fontIcon="comment"}}
{{> @font-icon fontIcon="compass"}}
{{> @font-icon fontIcon="conversation"}}
{{> @font-icon fontIcon="conversation-open"}}
{{> @font-icon fontIcon="diet"}}
{{> @font-icon fontIcon="document"}}
{{> @font-icon fontIcon="error"}}
{{> @font-icon fontIcon="error-open"}}
{{> @font-icon fontIcon="error-triangle-open"}}
{{> @font-icon fontIcon="facebook"}}
{{> @font-icon fontIcon="feelings"}}
{{> @font-icon fontIcon="fitness"}}
{{> @font-icon fontIcon="gender"}}
{{> @font-icon fontIcon="google"}}
{{> @font-icon fontIcon="hamburger"}}
{{> @font-icon fontIcon="heart-pulse"}}
{{> @font-icon fontIcon="info"}}
{{> @font-icon fontIcon="info-open"}}
{{> @font-icon fontIcon="instagram"}}
{{> @font-icon fontIcon="insurance"}}
{{> @font-icon fontIcon="languages"}}
{{> @font-icon fontIcon="like-heart"}}
{{> @font-icon fontIcon="like-heart-open"}}
{{> @font-icon fontIcon="linkedin"}}
{{> @font-icon fontIcon="location"}}
{{> @font-icon fontIcon="location-open"}}
{{> @font-icon fontIcon="lock"}}
{{> @font-icon fontIcon="notifications"}}
{{> @font-icon fontIcon="notifications-open"}}
{{> @font-icon fontIcon="pinterest"}}
{{> @font-icon fontIcon="play"}}
{{> @font-icon fontIcon="plus-circle"}}
{{> @font-icon fontIcon="qa-answer"}}
{{> @font-icon fontIcon="qa-question"}}
{{> @font-icon fontIcon="realage"}}
{{> @font-icon fontIcon="search"}}
{{> @font-icon fontIcon="share"}}
{{> @font-icon fontIcon="sharecare"}}
{{> @font-icon fontIcon="star"}}
{{> @font-icon fontIcon="star-open"}}
{{> @font-icon fontIcon="tag"}}
{{> @font-icon fontIcon="tag-open"}}
{{> @font-icon fontIcon="twitter"}}
{{> @font-icon fontIcon="user"}}
{{> @font-icon fontIcon="website"}}

<h3>Large (LG) Font Icons</h3>
{{> @font-icon fontIcon="banner" fontIconModifier="lg"}}
{{> @font-icon fontIcon="calendar-clock" fontIconModifier="lg"}}
{{> @font-icon fontIcon="camera" fontIconModifier="lg"}}
{{> @font-icon fontIcon="camera-open" fontIconModifier="lg"}}
{{> @font-icon fontIcon="caret-circled-down" fontIconModifier="lg"}}
{{> @font-icon fontIcon="caret-circled-up" fontIconModifier="lg"}}
{{> @font-icon fontIcon="caret-circled-right" fontIconModifier="lg"}}
{{> @font-icon fontIcon="caret-circled-left" fontIconModifier="lg"}}
{{> @font-icon fontIcon="caret-circled-open-down" fontIconModifier="lg"}}
{{> @font-icon fontIcon="caret-circled-open-up" fontIconModifier="lg"}}
{{> @font-icon fontIcon="caret-circled-open-right" fontIconModifier="lg"}}
{{> @font-icon fontIcon="caret-circled-open-left" fontIconModifier="lg"}}
{{> @font-icon fontIcon="caret-down" fontIconModifier="lg"}}
{{> @font-icon fontIcon="caret-up" fontIconModifier="lg"}}
{{> @font-icon fontIcon="caret-right" fontIconModifier="lg"}}
{{> @font-icon fontIcon="caret-left" fontIconModifier="lg"}}
{{> @font-icon fontIcon="check" fontIconModifier="lg"}}
{{> @font-icon fontIcon="check-circle" fontIconModifier="lg"}}
{{> @font-icon fontIcon="clock" fontIconModifier="lg"}}
{{> @font-icon fontIcon="close" fontIconModifier="lg"}}
{{> @font-icon fontIcon="comment" fontIconModifier="lg"}}
{{> @font-icon fontIcon="compass" fontIconModifier="lg"}}
{{> @font-icon fontIcon="conversation" fontIconModifier="lg"}}
{{> @font-icon fontIcon="conversation-open" fontIconModifier="lg"}}
{{> @font-icon fontIcon="diet" fontIconModifier="lg"}}
{{> @font-icon fontIcon="document" fontIconModifier="lg"}}
{{> @font-icon fontIcon="error" fontIconModifier="lg"}}
{{> @font-icon fontIcon="error-open" fontIconModifier="lg"}}
{{> @font-icon fontIcon="error-triangle-open" fontIconModifier="lg"}}
{{> @font-icon fontIcon="facebook" fontIconModifier="lg"}}
{{> @font-icon fontIcon="feelings" fontIconModifier="lg"}}
{{> @font-icon fontIcon="fitness" fontIconModifier="lg"}}
{{> @font-icon fontIcon="gender" fontIconModifier="lg"}}
{{> @font-icon fontIcon="google" fontIconModifier="lg"}}
{{> @font-icon fontIcon="hamburger" fontIconModifier="lg"}}
{{> @font-icon fontIcon="heart-pulse" fontIconModifier="lg"}}
{{> @font-icon fontIcon="info" fontIconModifier="lg"}}
{{> @font-icon fontIcon="info-open" fontIconModifier="lg"}}
{{> @font-icon fontIcon="instagram" fontIconModifier="lg"}}
{{> @font-icon fontIcon="insurance" fontIconModifier="lg"}}
{{> @font-icon fontIcon="languages" fontIconModifier="lg"}}
{{> @font-icon fontIcon="like-heart" fontIconModifier="lg"}}
{{> @font-icon fontIcon="like-heart-open" fontIconModifier="lg"}}
{{> @font-icon fontIcon="linkedin" fontIconModifier="lg"}}
{{> @font-icon fontIcon="location" fontIconModifier="lg"}}
{{> @font-icon fontIcon="location-open" fontIconModifier="lg"}}
{{> @font-icon fontIcon="lock" fontIconModifier="lg"}}
{{> @font-icon fontIcon="notifications" fontIconModifier="lg"}}
{{> @font-icon fontIcon="notifications-open" fontIconModifier="lg"}}
{{> @font-icon fontIcon="pinterest" fontIconModifier="lg"}}
{{> @font-icon fontIcon="play" fontIconModifier="lg"}}
{{> @font-icon fontIcon="plus-circle" fontIconModifier="lg"}}
{{> @font-icon fontIcon="qa-answer" fontIconModifier="lg"}}
{{> @font-icon fontIcon="qa-question" fontIconModifier="lg"}}
{{> @font-icon fontIcon="realage" fontIconModifier="lg"}}
{{> @font-icon fontIcon="search" fontIconModifier="lg"}}
{{> @font-icon fontIcon="share" fontIconModifier="lg"}}
{{> @font-icon fontIcon="sharecare" fontIconModifier="lg"}}
{{> @font-icon fontIcon="star" fontIconModifier="lg"}}
{{> @font-icon fontIcon="star-open" fontIconModifier="lg"}}
{{> @font-icon fontIcon="tag" fontIconModifier="lg"}}
{{> @font-icon fontIcon="tag-open" fontIconModifier="lg"}}
{{> @font-icon fontIcon="twitter" fontIconModifier="lg"}}
{{> @font-icon fontIcon="user" fontIconModifier="lg"}}
{{> @font-icon fontIcon="website" fontIconModifier="lg"}}

<h3>Extra Large (XL) Font Icons</h3>
{{> @font-icon fontIcon="banner" fontIconModifier="xl"}}
{{> @font-icon fontIcon="calendar-clock" fontIconModifier="xl"}}
{{> @font-icon fontIcon="camera" fontIconModifier="xl"}}
{{> @font-icon fontIcon="camera-open" fontIconModifier="xl"}}
{{> @font-icon fontIcon="caret-circled-down" fontIconModifier="xl"}}
{{> @font-icon fontIcon="caret-circled-up" fontIconModifier="xl"}}
{{> @font-icon fontIcon="caret-circled-right" fontIconModifier="xl"}}
{{> @font-icon fontIcon="caret-circled-left" fontIconModifier="xl"}}
{{> @font-icon fontIcon="caret-circled-open-down" fontIconModifier="xl"}}
{{> @font-icon fontIcon="caret-circled-open-up" fontIconModifier="xl"}}
{{> @font-icon fontIcon="caret-circled-open-right" fontIconModifier="xl"}}
{{> @font-icon fontIcon="caret-circled-open-left" fontIconModifier="xl"}}
{{> @font-icon fontIcon="caret-down" fontIconModifier="xl"}}
{{> @font-icon fontIcon="caret-up" fontIconModifier="xl"}}
{{> @font-icon fontIcon="caret-right" fontIconModifier="xl"}}
{{> @font-icon fontIcon="caret-left" fontIconModifier="xl"}}
{{> @font-icon fontIcon="check" fontIconModifier="xl"}}
{{> @font-icon fontIcon="check-circle" fontIconModifier="xl"}}
{{> @font-icon fontIcon="clock" fontIconModifier="xl"}}
{{> @font-icon fontIcon="close" fontIconModifier="xl"}}
{{> @font-icon fontIcon="comment" fontIconModifier="xl"}}
{{> @font-icon fontIcon="compass" fontIconModifier="xl"}}
{{> @font-icon fontIcon="conversation" fontIconModifier="xl"}}
{{> @font-icon fontIcon="conversation-open" fontIconModifier="xl"}}
{{> @font-icon fontIcon="diet" fontIconModifier="xl"}}
{{> @font-icon fontIcon="document" fontIconModifier="xl"}}
{{> @font-icon fontIcon="error" fontIconModifier="xl"}}
{{> @font-icon fontIcon="error-open" fontIconModifier="xl"}}
{{> @font-icon fontIcon="error-triangle-open" fontIconModifier="xl"}}
{{> @font-icon fontIcon="facebook" fontIconModifier="xl"}}
{{> @font-icon fontIcon="feelings" fontIconModifier="xl"}}
{{> @font-icon fontIcon="fitness" fontIconModifier="xl"}}
{{> @font-icon fontIcon="gender" fontIconModifier="xl"}}
{{> @font-icon fontIcon="google" fontIconModifier="xl"}}
{{> @font-icon fontIcon="hamburger" fontIconModifier="xl"}}
{{> @font-icon fontIcon="heart-pulse" fontIconModifier="xl"}}
{{> @font-icon fontIcon="info" fontIconModifier="xl"}}
{{> @font-icon fontIcon="info-open" fontIconModifier="xl"}}
{{> @font-icon fontIcon="instagram" fontIconModifier="xl"}}
{{> @font-icon fontIcon="insurance" fontIconModifier="xl"}}
{{> @font-icon fontIcon="languages" fontIconModifier="xl"}}
{{> @font-icon fontIcon="like-heart" fontIconModifier="xl"}}
{{> @font-icon fontIcon="like-heart-open" fontIconModifier="xl"}}
{{> @font-icon fontIcon="linkedin" fontIconModifier="xl"}}
{{> @font-icon fontIcon="location" fontIconModifier="xl"}}
{{> @font-icon fontIcon="location-open" fontIconModifier="xl"}}
{{> @font-icon fontIcon="lock" fontIconModifier="xl"}}
{{> @font-icon fontIcon="notifications" fontIconModifier="xl"}}
{{> @font-icon fontIcon="notifications-open" fontIconModifier="xl"}}
{{> @font-icon fontIcon="pinterest" fontIconModifier="xl"}}
{{> @font-icon fontIcon="play" fontIconModifier="xl"}}
{{> @font-icon fontIcon="plus-circle" fontIconModifier="xl"}}
{{> @font-icon fontIcon="qa-answer" fontIconModifier="xl"}}
{{> @font-icon fontIcon="qa-question" fontIconModifier="xl"}}
{{> @font-icon fontIcon="realage" fontIconModifier="xl"}}
{{> @font-icon fontIcon="search" fontIconModifier="xl"}}
{{> @font-icon fontIcon="share" fontIconModifier="xl"}}
{{> @font-icon fontIcon="sharecare" fontIconModifier="xl"}}
{{> @font-icon fontIcon="star" fontIconModifier="xl"}}
{{> @font-icon fontIcon="star-open" fontIconModifier="xl"}}
{{> @font-icon fontIcon="tag" fontIconModifier="xl"}}
{{> @font-icon fontIcon="tag-open" fontIconModifier="xl"}}
{{> @font-icon fontIcon="twitter" fontIconModifier="xl"}}
{{> @font-icon fontIcon="user" fontIconModifier="xl"}}
{{> @font-icon fontIcon="website" fontIconModifier="xl"}}