{{!-- fractal/components/font-icon-color-usages.hbs --}}
<h3>Base Font Color Font Icons</h3>
{{> @font-icon fontIcon="banner"}}
{{> @font-icon fontIcon="calendar-clock"}}
{{> @font-icon fontIcon="camera"}}
{{> @font-icon fontIcon="camera-open"}}
{{> @font-icon fontIcon="caret-circled-down"}}
{{> @font-icon fontIcon="caret-circled-up"}}
{{> @font-icon fontIcon="caret-circled-right"}}
{{> @font-icon fontIcon="caret-circled-left"}}
{{> @font-icon fontIcon="caret-circled-open-down"}}
{{> @font-icon fontIcon="caret-circled-open-up"}}
{{> @font-icon fontIcon="caret-circled-open-right"}}
{{> @font-icon fontIcon="caret-circled-open-left"}}
{{> @font-icon fontIcon="caret-down"}}
{{> @font-icon fontIcon="caret-up"}}
{{> @font-icon fontIcon="caret-right"}}
{{> @font-icon fontIcon="caret-left"}}
{{> @font-icon fontIcon="check"}}
{{> @font-icon fontIcon="check-circle"}}
{{> @font-icon fontIcon="clock"}}
{{> @font-icon fontIcon="close"}}
{{> @font-icon fontIcon="comment"}}
{{> @font-icon fontIcon="compass"}}
{{> @font-icon fontIcon="conversation"}}
{{> @font-icon fontIcon="conversation-open"}}
{{> @font-icon fontIcon="diet"}}
{{> @font-icon fontIcon="document"}}
{{> @font-icon fontIcon="error"}}
{{> @font-icon fontIcon="error-open"}}
{{> @font-icon fontIcon="error-triangle-open"}}
{{> @font-icon fontIcon="facebook"}}
{{> @font-icon fontIcon="feelings"}}
{{> @font-icon fontIcon="fitness"}}
{{> @font-icon fontIcon="gender"}}
{{> @font-icon fontIcon="google"}}
{{> @font-icon fontIcon="hamburger"}}
{{> @font-icon fontIcon="heart-pulse"}}
{{> @font-icon fontIcon="info"}}
{{> @font-icon fontIcon="info-open"}}
{{> @font-icon fontIcon="instagram"}}
{{> @font-icon fontIcon="insurance"}}
{{> @font-icon fontIcon="languages"}}
{{> @font-icon fontIcon="like-heart"}}
{{> @font-icon fontIcon="like-heart-open"}}
{{> @font-icon fontIcon="linkedin"}}
{{> @font-icon fontIcon="location"}}
{{> @font-icon fontIcon="location-open"}}
{{> @font-icon fontIcon="lock"}}
{{> @font-icon fontIcon="notifications"}}
{{> @font-icon fontIcon="notifications-open"}}
{{> @font-icon fontIcon="pinterest"}}
{{> @font-icon fontIcon="play"}}
{{> @font-icon fontIcon="plus-circle"}}
{{> @font-icon fontIcon="qa-answer"}}
{{> @font-icon fontIcon="qa-question"}}
{{> @font-icon fontIcon="realage"}}
{{> @font-icon fontIcon="search"}}
{{> @font-icon fontIcon="share"}}
{{> @font-icon fontIcon="sharecare"}}
{{> @font-icon fontIcon="star"}}
{{> @font-icon fontIcon="star-open"}}
{{> @font-icon fontIcon="tag"}}
{{> @font-icon fontIcon="tag-open"}}
{{> @font-icon fontIcon="twitter"}}
{{> @font-icon fontIcon="user"}}
{{> @font-icon fontIcon="website"}}

<h3>Primary Brand Color Font Icons</h3>
{{> @font-icon fontIcon="banner" fontIconModifier="primary"}}
{{> @font-icon fontIcon="calendar-clock" fontIconModifier="primary"}}
{{> @font-icon fontIcon="camera" fontIconModifier="primary"}}
{{> @font-icon fontIcon="camera-open" fontIconModifier="primary"}}
{{> @font-icon fontIcon="caret-circled-down" fontIconModifier="primary"}}
{{> @font-icon fontIcon="caret-circled-up" fontIconModifier="primary"}}
{{> @font-icon fontIcon="caret-circled-right" fontIconModifier="primary"}}
{{> @font-icon fontIcon="caret-circled-left" fontIconModifier="primary"}}
{{> @font-icon fontIcon="caret-circled-open-down" fontIconModifier="primary"}}
{{> @font-icon fontIcon="caret-circled-open-up" fontIconModifier="primary"}}
{{> @font-icon fontIcon="caret-circled-open-right" fontIconModifier="primary"}}
{{> @font-icon fontIcon="caret-circled-open-left" fontIconModifier="primary"}}
{{> @font-icon fontIcon="caret-down" fontIconModifier="primary"}}
{{> @font-icon fontIcon="caret-up" fontIconModifier="primary"}}
{{> @font-icon fontIcon="caret-right" fontIconModifier="primary"}}
{{> @font-icon fontIcon="caret-left" fontIconModifier="primary"}}
{{> @font-icon fontIcon="check" fontIconModifier="primary"}}
{{> @font-icon fontIcon="check-circle" fontIconModifier="primary"}}
{{> @font-icon fontIcon="clock" fontIconModifier="primary"}}
{{> @font-icon fontIcon="close" fontIconModifier="primary"}}
{{> @font-icon fontIcon="comment" fontIconModifier="primary"}}
{{> @font-icon fontIcon="compass" fontIconModifier="primary"}}
{{> @font-icon fontIcon="conversation" fontIconModifier="primary"}}
{{> @font-icon fontIcon="conversation-open" fontIconModifier="primary"}}
{{> @font-icon fontIcon="diet" fontIconModifier="primary"}}
{{> @font-icon fontIcon="document" fontIconModifier="primary"}}
{{> @font-icon fontIcon="error" fontIconModifier="primary"}}
{{> @font-icon fontIcon="error-open" fontIconModifier="primary"}}
{{> @font-icon fontIcon="error-triangle-open" fontIconModifier="primary"}}
{{> @font-icon fontIcon="facebook" fontIconModifier="primary"}}
{{> @font-icon fontIcon="feelings" fontIconModifier="primary"}}
{{> @font-icon fontIcon="fitness" fontIconModifier="primary"}}
{{> @font-icon fontIcon="gender" fontIconModifier="primary"}}
{{> @font-icon fontIcon="google" fontIconModifier="primary"}}
{{> @font-icon fontIcon="hamburger" fontIconModifier="primary"}}
{{> @font-icon fontIcon="heart-pulse" fontIconModifier="primary"}}
{{> @font-icon fontIcon="info" fontIconModifier="primary"}}
{{> @font-icon fontIcon="info-open" fontIconModifier="primary"}}
{{> @font-icon fontIcon="instagram" fontIconModifier="primary"}}
{{> @font-icon fontIcon="insurance" fontIconModifier="primary"}}
{{> @font-icon fontIcon="languages" fontIconModifier="primary"}}
{{> @font-icon fontIcon="like-heart" fontIconModifier="primary"}}
{{> @font-icon fontIcon="like-heart-open" fontIconModifier="primary"}}
{{> @font-icon fontIcon="linkedin" fontIconModifier="primary"}}
{{> @font-icon fontIcon="location" fontIconModifier="primary"}}
{{> @font-icon fontIcon="location-open" fontIconModifier="primary"}}
{{> @font-icon fontIcon="lock" fontIconModifier="primary"}}
{{> @font-icon fontIcon="notifications" fontIconModifier="primary"}}
{{> @font-icon fontIcon="notifications-open" fontIconModifier="primary"}}
{{> @font-icon fontIcon="pinterest" fontIconModifier="primary"}}
{{> @font-icon fontIcon="play" fontIconModifier="primary"}}
{{> @font-icon fontIcon="plus-circle" fontIconModifier="primary"}}
{{> @font-icon fontIcon="qa-answer" fontIconModifier="primary"}}
{{> @font-icon fontIcon="qa-question" fontIconModifier="primary"}}
{{> @font-icon fontIcon="realage" fontIconModifier="primary"}}
{{> @font-icon fontIcon="search" fontIconModifier="primary"}}
{{> @font-icon fontIcon="share" fontIconModifier="primary"}}
{{> @font-icon fontIcon="sharecare" fontIconModifier="primary"}}
{{> @font-icon fontIcon="star" fontIconModifier="primary"}}
{{> @font-icon fontIcon="star-open" fontIconModifier="primary"}}
{{> @font-icon fontIcon="tag" fontIconModifier="primary"}}
{{> @font-icon fontIcon="tag-open" fontIconModifier="primary"}}
{{> @font-icon fontIcon="twitter" fontIconModifier="primary"}}
{{> @font-icon fontIcon="user" fontIconModifier="primary"}}
{{> @font-icon fontIcon="website" fontIconModifier="primary"}}

<h3>Accent Color Font Icons</h3>
{{> @font-icon fontIcon="banner" fontIconModifier="accent"}}
{{> @font-icon fontIcon="calendar-clock" fontIconModifier="accent"}}
{{> @font-icon fontIcon="camera" fontIconModifier="accent"}}
{{> @font-icon fontIcon="camera-open" fontIconModifier="accent"}}
{{> @font-icon fontIcon="caret-circled-down" fontIconModifier="accent"}}
{{> @font-icon fontIcon="caret-circled-up" fontIconModifier="accent"}}
{{> @font-icon fontIcon="caret-circled-right" fontIconModifier="accent"}}
{{> @font-icon fontIcon="caret-circled-left" fontIconModifier="accent"}}
{{> @font-icon fontIcon="caret-circled-open-down" fontIconModifier="accent"}}
{{> @font-icon fontIcon="caret-circled-open-up" fontIconModifier="accent"}}
{{> @font-icon fontIcon="caret-circled-open-right" fontIconModifier="accent"}}
{{> @font-icon fontIcon="caret-circled-open-left" fontIconModifier="accent"}}
{{> @font-icon fontIcon="caret-down" fontIconModifier="accent"}}
{{> @font-icon fontIcon="caret-up" fontIconModifier="accent"}}
{{> @font-icon fontIcon="caret-right" fontIconModifier="accent"}}
{{> @font-icon fontIcon="caret-left" fontIconModifier="accent"}}
{{> @font-icon fontIcon="check" fontIconModifier="accent"}}
{{> @font-icon fontIcon="check-circle" fontIconModifier="accent"}}
{{> @font-icon fontIcon="clock" fontIconModifier="accent"}}
{{> @font-icon fontIcon="close" fontIconModifier="accent"}}
{{> @font-icon fontIcon="comment" fontIconModifier="accent"}}
{{> @font-icon fontIcon="compass" fontIconModifier="accent"}}
{{> @font-icon fontIcon="conversation" fontIconModifier="accent"}}
{{> @font-icon fontIcon="conversation-open" fontIconModifier="accent"}}
{{> @font-icon fontIcon="diet" fontIconModifier="accent"}}
{{> @font-icon fontIcon="document" fontIconModifier="accent"}}
{{> @font-icon fontIcon="error" fontIconModifier="accent"}}
{{> @font-icon fontIcon="error-open" fontIconModifier="accent"}}
{{> @font-icon fontIcon="error-triangle-open" fontIconModifier="accent"}}
{{> @font-icon fontIcon="facebook" fontIconModifier="accent"}}
{{> @font-icon fontIcon="feelings" fontIconModifier="accent"}}
{{> @font-icon fontIcon="fitness" fontIconModifier="accent"}}
{{> @font-icon fontIcon="gender" fontIconModifier="accent"}}
{{> @font-icon fontIcon="google" fontIconModifier="accent"}}
{{> @font-icon fontIcon="hamburger" fontIconModifier="accent"}}
{{> @font-icon fontIcon="heart-pulse" fontIconModifier="accent"}}
{{> @font-icon fontIcon="info" fontIconModifier="accent"}}
{{> @font-icon fontIcon="info-open" fontIconModifier="accent"}}
{{> @font-icon fontIcon="instagram" fontIconModifier="accent"}}
{{> @font-icon fontIcon="insurance" fontIconModifier="accent"}}
{{> @font-icon fontIcon="languages" fontIconModifier="accent"}}
{{> @font-icon fontIcon="like-heart" fontIconModifier="accent"}}
{{> @font-icon fontIcon="like-heart-open" fontIconModifier="accent"}}
{{> @font-icon fontIcon="linkedin" fontIconModifier="accent"}}
{{> @font-icon fontIcon="location" fontIconModifier="accent"}}
{{> @font-icon fontIcon="location-open" fontIconModifier="accent"}}
{{> @font-icon fontIcon="lock" fontIconModifier="accent"}}
{{> @font-icon fontIcon="notifications" fontIconModifier="accent"}}
{{> @font-icon fontIcon="notifications-open" fontIconModifier="accent"}}
{{> @font-icon fontIcon="pinterest" fontIconModifier="accent"}}
{{> @font-icon fontIcon="play" fontIconModifier="accent"}}
{{> @font-icon fontIcon="plus-circle" fontIconModifier="accent"}}
{{> @font-icon fontIcon="qa-answer" fontIconModifier="accent"}}
{{> @font-icon fontIcon="qa-question" fontIconModifier="accent"}}
{{> @font-icon fontIcon="realage" fontIconModifier="accent"}}
{{> @font-icon fontIcon="search" fontIconModifier="accent"}}
{{> @font-icon fontIcon="share" fontIconModifier="accent"}}
{{> @font-icon fontIcon="sharecare" fontIconModifier="accent"}}
{{> @font-icon fontIcon="star" fontIconModifier="accent"}}
{{> @font-icon fontIcon="star-open" fontIconModifier="accent"}}
{{> @font-icon fontIcon="tag" fontIconModifier="accent"}}
{{> @font-icon fontIcon="tag-open" fontIconModifier="accent"}}
{{> @font-icon fontIcon="twitter" fontIconModifier="accent"}}
{{> @font-icon fontIcon="user" fontIconModifier="accent"}}
{{> @font-icon fontIcon="website" fontIconModifier="accent"}}

<h3>Alert Color Font Icons</h3>
{{> @font-icon fontIcon="banner" fontIconModifier="alert"}}
{{> @font-icon fontIcon="calendar-clock" fontIconModifier="alert"}}
{{> @font-icon fontIcon="camera" fontIconModifier="alert"}}
{{> @font-icon fontIcon="camera-open" fontIconModifier="alert"}}
{{> @font-icon fontIcon="caret-circled-down" fontIconModifier="alert"}}
{{> @font-icon fontIcon="caret-circled-up" fontIconModifier="alert"}}
{{> @font-icon fontIcon="caret-circled-right" fontIconModifier="alert"}}
{{> @font-icon fontIcon="caret-circled-left" fontIconModifier="alert"}}
{{> @font-icon fontIcon="caret-circled-open-down" fontIconModifier="alert"}}
{{> @font-icon fontIcon="caret-circled-open-up" fontIconModifier="alert"}}
{{> @font-icon fontIcon="caret-circled-open-right" fontIconModifier="alert"}}
{{> @font-icon fontIcon="caret-circled-open-left" fontIconModifier="alert"}}
{{> @font-icon fontIcon="caret-down" fontIconModifier="alert"}}
{{> @font-icon fontIcon="caret-up" fontIconModifier="alert"}}
{{> @font-icon fontIcon="caret-right" fontIconModifier="alert"}}
{{> @font-icon fontIcon="caret-left" fontIconModifier="alert"}}
{{> @font-icon fontIcon="check" fontIconModifier="alert"}}
{{> @font-icon fontIcon="check-circle" fontIconModifier="alert"}}
{{> @font-icon fontIcon="clock" fontIconModifier="alert"}}
{{> @font-icon fontIcon="close" fontIconModifier="alert"}}
{{> @font-icon fontIcon="comment" fontIconModifier="alert"}}
{{> @font-icon fontIcon="compass" fontIconModifier="alert"}}
{{> @font-icon fontIcon="conversation" fontIconModifier="alert"}}
{{> @font-icon fontIcon="conversation-open" fontIconModifier="alert"}}
{{> @font-icon fontIcon="diet" fontIconModifier="alert"}}
{{> @font-icon fontIcon="document" fontIconModifier="alert"}}
{{> @font-icon fontIcon="error" fontIconModifier="alert"}}
{{> @font-icon fontIcon="error-open" fontIconModifier="alert"}}
{{> @font-icon fontIcon="error-triangle-open" fontIconModifier="alert"}}
{{> @font-icon fontIcon="facebook" fontIconModifier="alert"}}
{{> @font-icon fontIcon="feelings" fontIconModifier="alert"}}
{{> @font-icon fontIcon="fitness" fontIconModifier="alert"}}
{{> @font-icon fontIcon="gender" fontIconModifier="alert"}}
{{> @font-icon fontIcon="google" fontIconModifier="alert"}}
{{> @font-icon fontIcon="hamburger" fontIconModifier="alert"}}
{{> @font-icon fontIcon="heart-pulse" fontIconModifier="alert"}}
{{> @font-icon fontIcon="info" fontIconModifier="alert"}}
{{> @font-icon fontIcon="info-open" fontIconModifier="alert"}}
{{> @font-icon fontIcon="instagram" fontIconModifier="alert"}}
{{> @font-icon fontIcon="insurance" fontIconModifier="alert"}}
{{> @font-icon fontIcon="languages" fontIconModifier="alert"}}
{{> @font-icon fontIcon="like-heart" fontIconModifier="alert"}}
{{> @font-icon fontIcon="like-heart-open" fontIconModifier="alert"}}
{{> @font-icon fontIcon="linkedin" fontIconModifier="alert"}}
{{> @font-icon fontIcon="location" fontIconModifier="alert"}}
{{> @font-icon fontIcon="location-open" fontIconModifier="alert"}}
{{> @font-icon fontIcon="lock" fontIconModifier="alert"}}
{{> @font-icon fontIcon="notifications" fontIconModifier="alert"}}
{{> @font-icon fontIcon="notifications-open" fontIconModifier="alert"}}
{{> @font-icon fontIcon="pinterest" fontIconModifier="alert"}}
{{> @font-icon fontIcon="play" fontIconModifier="alert"}}
{{> @font-icon fontIcon="plus-circle" fontIconModifier="alert"}}
{{> @font-icon fontIcon="qa-answer" fontIconModifier="alert"}}
{{> @font-icon fontIcon="qa-question" fontIconModifier="alert"}}
{{> @font-icon fontIcon="realage" fontIconModifier="alert"}}
{{> @font-icon fontIcon="search" fontIconModifier="alert"}}
{{> @font-icon fontIcon="share" fontIconModifier="alert"}}
{{> @font-icon fontIcon="sharecare" fontIconModifier="alert"}}
{{> @font-icon fontIcon="star" fontIconModifier="alert"}}
{{> @font-icon fontIcon="star-open" fontIconModifier="alert"}}
{{> @font-icon fontIcon="tag" fontIconModifier="alert"}}
{{> @font-icon fontIcon="tag-open" fontIconModifier="alert"}}
{{> @font-icon fontIcon="twitter" fontIconModifier="alert"}}
{{> @font-icon fontIcon="user" fontIconModifier="alert"}}
{{> @font-icon fontIcon="website" fontIconModifier="alert"}}

<h3>Warning Color Font Icons</h3>
{{> @font-icon fontIcon="banner" fontIconModifier="warning"}}
{{> @font-icon fontIcon="calendar-clock" fontIconModifier="warning"}}
{{> @font-icon fontIcon="camera" fontIconModifier="warning"}}
{{> @font-icon fontIcon="camera-open" fontIconModifier="warning"}}
{{> @font-icon fontIcon="caret-circled-down" fontIconModifier="warning"}}
{{> @font-icon fontIcon="caret-circled-up" fontIconModifier="warning"}}
{{> @font-icon fontIcon="caret-circled-right" fontIconModifier="warning"}}
{{> @font-icon fontIcon="caret-circled-left" fontIconModifier="warning"}}
{{> @font-icon fontIcon="caret-circled-open-down" fontIconModifier="warning"}}
{{> @font-icon fontIcon="caret-circled-open-up" fontIconModifier="warning"}}
{{> @font-icon fontIcon="caret-circled-open-right" fontIconModifier="warning"}}
{{> @font-icon fontIcon="caret-circled-open-left" fontIconModifier="warning"}}
{{> @font-icon fontIcon="caret-down" fontIconModifier="warning"}}
{{> @font-icon fontIcon="caret-up" fontIconModifier="warning"}}
{{> @font-icon fontIcon="caret-right" fontIconModifier="warning"}}
{{> @font-icon fontIcon="caret-left" fontIconModifier="warning"}}
{{> @font-icon fontIcon="check" fontIconModifier="warning"}}
{{> @font-icon fontIcon="check-circle" fontIconModifier="warning"}}
{{> @font-icon fontIcon="clock" fontIconModifier="warning"}}
{{> @font-icon fontIcon="close" fontIconModifier="warning"}}
{{> @font-icon fontIcon="comment" fontIconModifier="warning"}}
{{> @font-icon fontIcon="compass" fontIconModifier="warning"}}
{{> @font-icon fontIcon="conversation" fontIconModifier="warning"}}
{{> @font-icon fontIcon="conversation-open" fontIconModifier="warning"}}
{{> @font-icon fontIcon="diet" fontIconModifier="warning"}}
{{> @font-icon fontIcon="document" fontIconModifier="warning"}}
{{> @font-icon fontIcon="error" fontIconModifier="warning"}}
{{> @font-icon fontIcon="error-open" fontIconModifier="warning"}}
{{> @font-icon fontIcon="error-triangle-open" fontIconModifier="warning"}}
{{> @font-icon fontIcon="facebook" fontIconModifier="warning"}}
{{> @font-icon fontIcon="feelings" fontIconModifier="warning"}}
{{> @font-icon fontIcon="fitness" fontIconModifier="warning"}}
{{> @font-icon fontIcon="gender" fontIconModifier="warning"}}
{{> @font-icon fontIcon="google" fontIconModifier="warning"}}
{{> @font-icon fontIcon="hamburger" fontIconModifier="warning"}}
{{> @font-icon fontIcon="heart-pulse" fontIconModifier="warning"}}
{{> @font-icon fontIcon="info" fontIconModifier="warning"}}
{{> @font-icon fontIcon="info-open" fontIconModifier="warning"}}
{{> @font-icon fontIcon="instagram" fontIconModifier="warning"}}
{{> @font-icon fontIcon="insurance" fontIconModifier="warning"}}
{{> @font-icon fontIcon="languages" fontIconModifier="warning"}}
{{> @font-icon fontIcon="like-heart" fontIconModifier="warning"}}
{{> @font-icon fontIcon="like-heart-open" fontIconModifier="warning"}}
{{> @font-icon fontIcon="linkedin" fontIconModifier="warning"}}
{{> @font-icon fontIcon="location" fontIconModifier="warning"}}
{{> @font-icon fontIcon="location-open" fontIconModifier="warning"}}
{{> @font-icon fontIcon="lock" fontIconModifier="warning"}}
{{> @font-icon fontIcon="notifications" fontIconModifier="warning"}}
{{> @font-icon fontIcon="notifications-open" fontIconModifier="warning"}}
{{> @font-icon fontIcon="pinterest" fontIconModifier="warning"}}
{{> @font-icon fontIcon="play" fontIconModifier="warning"}}
{{> @font-icon fontIcon="plus-circle" fontIconModifier="warning"}}
{{> @font-icon fontIcon="qa-answer" fontIconModifier="warning"}}
{{> @font-icon fontIcon="qa-question" fontIconModifier="warning"}}
{{> @font-icon fontIcon="realage" fontIconModifier="warning"}}
{{> @font-icon fontIcon="search" fontIconModifier="warning"}}
{{> @font-icon fontIcon="share" fontIconModifier="warning"}}
{{> @font-icon fontIcon="sharecare" fontIconModifier="warning"}}
{{> @font-icon fontIcon="star" fontIconModifier="warning"}}
{{> @font-icon fontIcon="star-open" fontIconModifier="warning"}}
{{> @font-icon fontIcon="tag" fontIconModifier="warning"}}
{{> @font-icon fontIcon="tag-open" fontIconModifier="warning"}}
{{> @font-icon fontIcon="twitter" fontIconModifier="warning"}}
{{> @font-icon fontIcon="user" fontIconModifier="warning"}}
{{> @font-icon fontIcon="website" fontIconModifier="warning"}}

<h3>Highlight Color Font Icons</h3>
{{> @font-icon fontIcon="banner" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="calendar-clock" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="camera" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="camera-open" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="caret-circled-down" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="caret-circled-up" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="caret-circled-right" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="caret-circled-left" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="caret-circled-open-down" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="caret-circled-open-up" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="caret-circled-open-right" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="caret-circled-open-left" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="caret-down" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="caret-up" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="caret-right" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="caret-left" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="check" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="check-circle" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="clock" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="close" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="comment" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="compass" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="conversation" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="conversation-open" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="diet" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="document" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="error" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="error-open" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="error-triangle-open" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="facebook" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="feelings" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="fitness" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="gender" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="google" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="hamburger" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="heart-pulse" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="info" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="info-open" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="instagram" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="insurance" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="languages" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="like-heart" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="like-heart-open" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="linkedin" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="location" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="location-open" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="lock" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="notifications" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="notifications-open" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="pinterest" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="play" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="plus-circle" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="qa-answer" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="qa-question" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="realage" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="search" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="share" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="sharecare" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="star" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="star-open" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="tag" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="tag-open" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="twitter" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="user" fontIconModifier="highlight"}}
{{> @font-icon fontIcon="website" fontIconModifier="highlight"}}

<h3>Inactive Color Font Icons</h3>
{{> @font-icon fontIcon="banner" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="calendar-clock" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="camera" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="camera-open" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="caret-circled-down" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="caret-circled-up" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="caret-circled-right" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="caret-circled-left" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="caret-circled-open-down" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="caret-circled-open-up" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="caret-circled-open-right" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="caret-circled-open-left" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="caret-down" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="caret-up" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="caret-right" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="caret-left" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="check" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="check-circle" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="clock" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="close" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="comment" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="compass" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="conversation" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="conversation-open" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="diet" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="document" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="error" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="error-open" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="error-triangle-open" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="facebook" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="feelings" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="fitness" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="gender" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="google" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="hamburger" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="heart-pulse" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="info" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="info-open" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="instagram" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="insurance" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="languages" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="like-heart" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="like-heart-open" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="linkedin" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="location" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="location-open" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="lock" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="notifications" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="notifications-open" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="pinterest" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="play" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="plus-circle" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="qa-answer" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="qa-question" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="realage" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="search" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="share" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="sharecare" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="star" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="star-open" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="tag" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="tag-open" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="twitter" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="user" fontIconModifier="inactive"}}
{{> @font-icon fontIcon="website" fontIconModifier="inactive"}}

<h3>Light Color Font Icons</h3>
{{> @font-icon fontIcon="banner" fontIconModifier="light"}}
{{> @font-icon fontIcon="calendar-clock" fontIconModifier="light"}}
{{> @font-icon fontIcon="camera" fontIconModifier="light"}}
{{> @font-icon fontIcon="camera-open" fontIconModifier="light"}}
{{> @font-icon fontIcon="caret-circled-down" fontIconModifier="light"}}
{{> @font-icon fontIcon="caret-circled-up" fontIconModifier="light"}}
{{> @font-icon fontIcon="caret-circled-right" fontIconModifier="light"}}
{{> @font-icon fontIcon="caret-circled-left" fontIconModifier="light"}}
{{> @font-icon fontIcon="caret-circled-open-down" fontIconModifier="light"}}
{{> @font-icon fontIcon="caret-circled-open-up" fontIconModifier="light"}}
{{> @font-icon fontIcon="caret-circled-open-right" fontIconModifier="light"}}
{{> @font-icon fontIcon="caret-circled-open-left" fontIconModifier="light"}}
{{> @font-icon fontIcon="caret-down" fontIconModifier="light"}}
{{> @font-icon fontIcon="caret-up" fontIconModifier="light"}}
{{> @font-icon fontIcon="caret-right" fontIconModifier="light"}}
{{> @font-icon fontIcon="caret-left" fontIconModifier="light"}}
{{> @font-icon fontIcon="check" fontIconModifier="light"}}
{{> @font-icon fontIcon="check-circle" fontIconModifier="light"}}
{{> @font-icon fontIcon="clock" fontIconModifier="light"}}
{{> @font-icon fontIcon="close" fontIconModifier="light"}}
{{> @font-icon fontIcon="comment" fontIconModifier="light"}}
{{> @font-icon fontIcon="compass" fontIconModifier="light"}}
{{> @font-icon fontIcon="conversation" fontIconModifier="light"}}
{{> @font-icon fontIcon="conversation-open" fontIconModifier="light"}}
{{> @font-icon fontIcon="diet" fontIconModifier="light"}}
{{> @font-icon fontIcon="document" fontIconModifier="light"}}
{{> @font-icon fontIcon="error" fontIconModifier="light"}}
{{> @font-icon fontIcon="error-open" fontIconModifier="light"}}
{{> @font-icon fontIcon="error-triangle-open" fontIconModifier="light"}}
{{> @font-icon fontIcon="facebook" fontIconModifier="light"}}
{{> @font-icon fontIcon="feelings" fontIconModifier="light"}}
{{> @font-icon fontIcon="fitness" fontIconModifier="light"}}
{{> @font-icon fontIcon="gender" fontIconModifier="light"}}
{{> @font-icon fontIcon="google" fontIconModifier="light"}}
{{> @font-icon fontIcon="hamburger" fontIconModifier="light"}}
{{> @font-icon fontIcon="heart-pulse" fontIconModifier="light"}}
{{> @font-icon fontIcon="info" fontIconModifier="light"}}
{{> @font-icon fontIcon="info-open" fontIconModifier="light"}}
{{> @font-icon fontIcon="instagram" fontIconModifier="light"}}
{{> @font-icon fontIcon="insurance" fontIconModifier="light"}}
{{> @font-icon fontIcon="languages" fontIconModifier="light"}}
{{> @font-icon fontIcon="like-heart" fontIconModifier="light"}}
{{> @font-icon fontIcon="like-heart-open" fontIconModifier="light"}}
{{> @font-icon fontIcon="linkedin" fontIconModifier="light"}}
{{> @font-icon fontIcon="location" fontIconModifier="light"}}
{{> @font-icon fontIcon="location-open" fontIconModifier="light"}}
{{> @font-icon fontIcon="lock" fontIconModifier="light"}}
{{> @font-icon fontIcon="notifications" fontIconModifier="light"}}
{{> @font-icon fontIcon="notifications-open" fontIconModifier="light"}}
{{> @font-icon fontIcon="pinterest" fontIconModifier="light"}}
{{> @font-icon fontIcon="play" fontIconModifier="light"}}
{{> @font-icon fontIcon="plus-circle" fontIconModifier="light"}}
{{> @font-icon fontIcon="qa-answer" fontIconModifier="light"}}
{{> @font-icon fontIcon="qa-question" fontIconModifier="light"}}
{{> @font-icon fontIcon="realage" fontIconModifier="light"}}
{{> @font-icon fontIcon="search" fontIconModifier="light"}}
{{> @font-icon fontIcon="share" fontIconModifier="light"}}
{{> @font-icon fontIcon="sharecare" fontIconModifier="light"}}
{{> @font-icon fontIcon="star" fontIconModifier="light"}}
{{> @font-icon fontIcon="star-open" fontIconModifier="light"}}
{{> @font-icon fontIcon="tag" fontIconModifier="light"}}
{{> @font-icon fontIcon="tag-open" fontIconModifier="light"}}
{{> @font-icon fontIcon="twitter" fontIconModifier="light"}}
{{> @font-icon fontIcon="user" fontIconModifier="light"}}
{{> @font-icon fontIcon="website" fontIconModifier="light"}}