{{!-- fractal/components/font-icon-badge-usages.hbs --}}
<h3>Font Icons with Badges</h3>
{{> @font-icon fontIcon="banner" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="calendar-clock" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="camera" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="camera-open" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="caret-circled-down" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="caret-circled-up" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="caret-circled-right" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="caret-circled-left" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="caret-circled-open-down" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="caret-circled-open-up" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="caret-circled-open-right" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="caret-circled-open-left" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="caret-down" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="caret-up" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="caret-right" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="caret-left" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="check" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="check-circle" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="clock" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="close" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="comment" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="compass" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="conversation" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="conversation-open" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="diet" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="document" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="error" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="error-open" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="error-triangle-open" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="facebook" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="feelings" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="fitness" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="gender" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="google" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="hamburger" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="heart-pulse" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="info" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="info-open" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="instagram" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="insurance" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="languages" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="like-heart" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="like-heart-open" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="linkedin" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="location" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="location-open" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="lock" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="notifications" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="notifications-open" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="pinterest" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="play" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="plus-circle" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="qa-answer" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="qa-question" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="realage" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="search" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="share" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="sharecare" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="star" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="star-open" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="tag" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="tag-open" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="twitter" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="user" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}
{{> @font-icon fontIcon="website" fontIconBadgeLabel="9" fontIconClasses="font-icon--highlight"}}