{{!-- fractal/components/progress-bar-usages.hbs --}}
<h3>Progress Bars</h3>
{{> @progress-bar
        progressHeader="Lorem Ipsum"
        progressValue="0"}}
{{> @progress-bar
        progressHeader="Lorem Ipsum"
        progressValue="10"}}
{{> @progress-bar
        progressHeader="Lorem Ipsum"
        progressValue="25"}}
{{> @progress-bar
        progressHeader="Lorem Ipsum"
        progressValue="50"}}
{{> @progress-bar
        progressHeader="Lorem Ipsum"
        progressValue="66"}}
{{> @progress-bar
        progressHeader="Lorem Ipsum"
        progressValue="90"}}
{{> @progress-bar
        progressHeader="Lorem Ipsum"
        progressValue="100"}}