{{!-- fractal/components/breadcrumb-usages.hbs --}}
<h3>Breadcrumbs</h3>
{{#> @breadcrumb-bar}}
    {{> @breadcrumb
            breadcrumbLabel="Lorem Ipsum"}}
    {{> @breadcrumb
            linkTo="http://www.sharecare.com"
            breadcrumbLabel="Lorem Ipsum"}}
    {{> @breadcrumb
            breadcrumbLabel="Lorem Ipsum"}}
{{/@breadcrumb-bar}}